<% if @facture.organisation.logo.attached? %>
  <%= image_tag url_for(@facture.organisation.logo), width: 50 %>
<% end %>

<p>
  Bonjour,
  <br><br>
  Ceci est un message automatique.
  <br><br>
  Nous vous informons que votre facture est disponible 
  à l'adresse suivante :
  <br>
  <%= link_to facture_url(@facture, format: :pdf) do %>
    <%= facture_url(@facture, format: :pdf) %>
  <% end %>

  <br><br>
  Le total de votre facture est de 
  <%= number_to_currency(@facture.montant, unit: '€', precision: 2, format: '%n %u') %>.
  
  <% if (@facture.organisation.facture_messages.actif.any?) %>
    <br><br>
    <u><%= @facture.organisation.facture_messages.actif.first.contenu %></u>
  <% end %>
  <br><br>
  Nous vous remercions de votre confiance.
  <br>
  L'équipe <%= @facture.organisation.nom %>
</p>