<div class="col-md-10 col-lg-7 shadow-sm rounded p-3 p-md-5 mt-5 mx-auto">
  <h1 class="fw-light text-center">Nous contacter</h1>
  <div class="text-center">
    <p class="lead fw-lighter">
      Vous avez une question ou vous souhaitez que l'on vous contacte ?
      Vos remarques et propositions sont les bienvenues 
      et nous aident à améliorer l'application.
    </p>
  </div>
  <%= bootstrap_form_with(model: message, local: true) do |form| %>

    <%= form.hidden_field :facture_slug %>
    <%= form.hidden_field :organisation_id %>

    <% unless params[:facture_slug] %>
      <%= form.email_field :email, placeholder: 'Votre adresse e-mail', required: true %>
      <%= form.select :objet, options_for_select(['Question', 'Offre standard', 'Offre premium', 'Remarque', "Proposition d'amélioration", 'Résiliation', 'Autre'], @offre), prompt: 'Choisir un objet', required: true %>
    <% else %>
      <%= form.email_field :email, placeholder: 'Votre adresse e-mail', required: true %>
      <%= form.select :objet, options_for_select(["Facture n° #{@facture.réf}", "Question", "Remarque", "Autre"]), required: true %>
    <% end %>
    <%= form.text_area :contenu, placeholder: 'Votre message', rows: 4, required: true %>

    <%= recaptcha_tags %>

    <br>

    <div class="actions">
      <%= form.submit 'Envoyer', class: 'btn btn-outline-success' %>
      <%= link_to 'Retour', root_path, class: 'btn btn-outline-secondary'%>
    </div>
  <% end %>
</div>