<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light d-inline"><%= fa_icon 'envelope', class: 'text-primary' %> Messages</h2>
  <%= link_to guide_path(anchor: "messages") do %>
    <%= fa_icon 'info-circle', title: "Ouvrir l'aide" %>
  <% end %>
</div>

<%= bootstrap_form_tag url: messages_path, method: :get do |f| %>
  <div class="row">
    <div class="col"><%= f.text_field :search, value: params[:search], label: 'Email/Objet/Contenu', onchange: "this.form.submit()", autofocus: false %></div>
    <div class="col-sm-2"><%= f.select :state, options_for_select(Message.workflow_spec.states.keys.to_a, params[:state]), { include_blank: true, label: 'État' }, { onchange: "this.form.submit()" } %></div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Reçu</th>
        <th>Expéditeur</th>
        <th>Objet</th>
        <th>Message</th>
        <th>État</th>
        <th>MàJ</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td>Il y a <%= time_ago_in_words message.created_at %></td>
          <td><%= mail_to message.email, message.email, {subject: "Re: Votre message au gestionnaire de la facturation", body: "#{'_' * 50} \r\n #{message.contenu}"} %></td>
          <td><%= message.objet %></td>
          <td><%= truncate(message.contenu, length: 30) %></td>
          <td><span class="badge text-bg-<%= message.style %>"><%= message.workflow_state.humanize %></span></td>
          <td>Il y a <%= time_ago_in_words message.updated_at %></td>
          <td><%= link_to 'Voir', message %></td>
          <td><%= link_to 'Supprimer', message, data: { 'turbo-method': :delete, 'turbo-confirm': 'Êtes-vous bien certain.e ???' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mb-3">
  <%= page_entries_info @messages, entry_name: 'message' %>
  <%= pp @messages.reorder(nil).select(:id).group(:workflow_state).count(:id) %>
</div>
<%= paginate @messages, theme: 'twitter-bootstrap-4' %>
