<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Objet:</strong>
  <%= @message.objet %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @message.contenu %>
</p>

<p>
  <strong>État:</strong>
  <span class="badge text-bg-<%= @message.style %>"><%= @message.workflow_state.humanize %></span>
</p>

  <% if true %>
    <%= render partial: 'partials/wf_button', locals: { state: 'traité', transition: 'traiter', label: 'traiter' } %>
    <%= render partial: 'partials/wf_button', locals: { state: 'archivé', transition: 'archiver', label: 'archiver' } %>
  <% end %>

<br>

<%= link_to 'Retour', messages_path %>
