<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <div class="row">
    <div class="col"><%= form.text_field :nom, label_as_placeholder: true %></div>
    <div class="col"><%= form.text_field :référent, label_as_placeholder: true %></div>
    <div class="col-1"><a type="button" data-action="nested-form#remove"><%= fa_icon 'trash-alt', class:"text-danger mt-2" %></a></div>
  </div>
  <%= form.hidden_field :_destroy %>
</div>