<tr>
    <td>
        <span data-action="click->action#click">
            <%= check_box_tag "[prestations_id][#{prestation.id}]", 'yes', false,  data: {"action-target":"source"} %>
        </span>
    </td>
    <td><%= prestation.enfant.classroom.structure.nom %></td>
    <td><%= prestation.enfant.classroom.nom %></td>
    <td><%= l prestation.date, format: :long %></td>
    <td><%= prestation.prestation_type.nom %></td>
    <td><%= link_to prestation.enfant.nom, prestation.enfant.compte %></td>
    <td><%= link_to prestation.enfant.prénom, prestation.enfant %></td>
    <td><%= prestation.qté %></td>
    <td>
        <% if policy(prestation).edit? %>
            <%= link_to edit_prestation_path(prestation) do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(prestation).destroy? %>
            <%= button_to prestation, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt', class: 'text-danger' %>
            <% end %>
        <% end %>
    </td>
</tr>
