<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'utensils', class: 'text-secondary' %> Prestations</h2>
</div>

<%= bootstrap_form_tag url: prestations_path, method: :get do |f| %>
  <div class="row">
    <div class="col"><%= f.text_field :nom, value: params[:nom], label: 'Nom/Prénom', onchange: "this.form.submit()", autofocus: true %></div>
    <div class="col-sm-2"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom', params[:classroom_id]), { include_blank: true, label: "Classe" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.date_field :date, value: params[:date], onchange: "this.form.submit()" %></div>
    <div class="col-sm-2"><%= f.select :prestation_type_id, options_from_collection_for_select(@prestation_types, 'id', 'nom', params[:prestation_type_id]), { include_blank: true, label: "Type" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><br><br><%= check_box_tag :archives, 'yes', params[:archives] == 'yes', onchange: "this.form.submit()" %> Archives ?</div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th><%= sort_link 'structures.nom', 'Structure' %></th>
        <th><%= sort_link 'classrooms.nom', 'Classe' %></th>
        <th><%= sort_link 'prestations.date', 'Date' %></th>
        <th><%= sort_link 'prestation_types.nom', 'Type' %></th>
        <th><%= sort_link 'enfants.nom', 'Nom' %></th>
        <th><%= sort_link 'enfants.prénom', 'Prénom' %></th>
        <th><%= sort_link 'prestations.qté', 'Qté' %></th>
        <th colspan=2></th>
      </tr>
    </thead>

    <tfoot><tr><th colspan=9></th></tr></tfoot>

    <tbody>
      <%=render @prestations.includes(:enfant, :prestation_type) %>
    </tbody>
  </table>
</div>

<%= page_entries_info @prestations %>
<%= paginate @prestations, theme: 'twitter-bootstrap-4' %>
