<div class="col-md-10 col-lg-7 shadow-sm rounded p-3 p-md-5 mt-5 mx-auto">
  <h1 class="fw-light mt-2 mb-5 text-center">Inscription</h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: false, required: true, autocomplete: "email", class: "form-control col-sm-3" %>

      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />

      <%= f.password_field :password, required: true, hide_label: true, autocomplete: "new-password", class: "form-control col-sm-3" %>
      <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control col-sm-3" %>
    
      <%= f.label :organisation %>
      <%= text_field_tag :organisation, params[:organisation], required: true, placeholder: "Le nom de votre ASSOCIATION/MAIRIE", class: "form-control col-sm-5" %>
      <br>
      
      <%= f.label :structure, "Nom de la structure (CANTINE/GARDERIE/CENTRE DE LOISIRS...)" %>
      <%= text_field_tag :structure, params[:structure], required: true, value: "Cantine", class: "form-control col-sm-6" %>
      <br>

      <%= f.label :zone, "Zone de vacances scolaires" %>
      <%= select_tag :zone, options_for_select(['A', 'B', 'C'], 'A'), class: "form-control" %></div>

      <br>

      <p>
        <i><small>
          Un courriel va vous être envoyé afin de vérifier votre adresse email.
          Cliquez sur le lien fourni afin de confirmer votre adresse email et de vous connecter.
        </small></i>
      </p>

      <div class="actions">
        <%= f.submit "S'inscrire", class: "btn btn-outline-primary btn-lg" %>
      </div>
    </div>



  <% end %>

</div>
