<h1>Bienvenue <%= @user.email.split('@').first %> !</h1>

<p>
  L'organisation "<%= @organisation.nom.humanize %>" vous a créé un compte d'accès à PrestoFacto, le logiciel de facturation des prestations scolaires & péri-scolaires.
  <br><br>
  Vos identifiants sont les suivants :
  <ul>
    <li>Email : <%= @user.email %></li>
    <li>Mot de passe : <%= @password %></li>
  </ul>

  <%= link_to "Accéder à mon compte", new_user_session_url %>
</p>