
<%- if controller_name != 'sessions' %>
  <%= link_to "Se connecter", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Vous n'avez pas reçu les instructions de confirmation ?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Vous n'avez pas reçu les instructions de déverrouillage ?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <p class="text-center fs-5">OU</p>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= form_for "Login",
      url: omniauth_authorize_path(resource_name, provider),
      method: :post,
      data: {turbo: "false"} do |f| %>
        <div>
          <button id="google_button" type="submit" style ="color: #444;border-radius: 5px;border: thin solid #888;box-shadow: 1px 1px 1px grey;white-space: nowrap;" class="btn w-100 py-2">
            <%= image_tag "Google__G__logo.svg" %>
            <span class="ms-2">Continuer avec Google</span>
          </button>
        </div>
    <% end %>
  <% end %>
<% end %>

