<p id="notice"><%= notice %></p>

<h2>Tarif Types</h2>

<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarif_types.each do |tarif_type| %>
      <tr>
        <td><%= tarif_type.organisation %></td>
        <td><%= tarif_type.nom %></td>
        <td><%= link_to 'Show', tarif_type %></td>
        <td><%= link_to 'Edit', edit_tarif_type_path(tarif_type) %></td>
        <td><%= link_to 'Destroy', tarif_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarif Type', new_tarif_type_path %>
