<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'calendar-day' %> Facturation des prestations</h2>
</div>

<p>
  <h4>Permet de lancer la routine de facturation des prestations consommées sur un mois</h4>
</p>
<br />

<%= bootstrap_form_with(url: 'ajout_factures_do', local: true) do |form| %>
  <div class="col-sm-4">
    <%= form.date_select :date, discard_day: true, label: "Période" %>
    <%= form.select :compte_id, options_from_collection_for_select(current_user.organisation.comptes, :id, :nom, params[:compte_id]), { include_blank: true, label: "Compte (Aucun = Facturer tous les comptes)" } %>
    <%= form.check_box :enregistrer, { custom: :switch, label: "Enregistrer les modifications* ?" } %> 
    <small>* Non = Visualisation seulement. Ne fera rien de définitif !</small> 
  </div>
  <br /><br />
  <%= form.submit "Lancer", class: "btn btn-success" %>
<% end %>


