<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light"><%= fa_icon 'calendar-day' %> Comptabilisation des prestations</h2>
</div>

<p>
    <h4>Lancer la routine journalière de comptabilisation des prestations consommées</h4>
    <small>
      Cette fonction balaye l'ensemble des réservations prévues pour une date 
      et crée les lignes 'prestations' adéquates (si les paramètres concordes; jour de la semaine, Scolaire/HorsScolaire, absences...).
      Notez que cette routine est lancée chaque matin, automatiquement, pour comptabiliser les prestations effectuées la veille.  
    </small>
</p>
<br />

<%= bootstrap_form_with(url: 'ajout_prestations_do') do |form| %>
    <div class="col-sm-3">
      <%= form.date_field :date %>
    </div>
    <br>
    <%= form.check_box :enregistrer, {custom: :switch, label: "Enregistrer les changements ? (Décoché = Visualisation seulement. Ne fait rien de définitif :)"} %>  
    <br /><br />
    <%= form.submit "Lancer", class: "btn btn-outline-success", 'data-turbo': false %>
<% end %>


