<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'search' %> Audit des modifications</h2>
</div>

<%= bootstrap_form_tag url: admin_audit_path, method: :get do |f| %>
  <div class="row">
    <div class="col-sm-2"><%= f.date_field :date, value: params[:date], onchange: "this.form.submit()" %></div>
    <div class="col-sm-3"><%= f.select :user_id, options_from_collection_for_select(@users, 'id', 'email', params[:user_id]), { include_blank: true, label: "Utilisateur" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :type, options_for_select(@types, params[:type]), { include_blank: true, label: "Type" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
  </div>
<% end %>


<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>Date</th>
            <th>Utilisateur</th>            
            <th>Type</th>
            <th>id</th>
            <th>Action</th>
            <th>Modifications</th>
        </tr>
    </thead>

    <%= render partial: 'audit', collection: @audits.includes(:user) %>

</table>

<%= paginate @audits, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>