<div class="pb-2 my-3 border-bottom">
  <h2 class="fw-light"><%= fa_icon 'tachometer-alt', class: 'text-primary' %> Stats / Tableau de bord</h2>
</div>

<div class="row mt-4">
  <div class="col px-5 mx-3">
    <p>Nombre de Comptes : <span class="float-end"><%= @organisation.comptes.count %></span></p>
    <p>Nombre d'Enfants : <span class="float-end"><%= nbr_enfants = @organisation.enfants.count %></span></p>
    <p>Nombre de Classes : <span class="float-end"><%= nbr_classes = @organisation.classrooms.count %></span></p>
    
    <% if nbr_classes > 0 %>
      <p>Nombre d'Enfants par Classe : <span class="float-end"><%= nbr_enfants / nbr_classes %></span></p>
    <% end %>
  </div>

  <div class="col px-5 mx-3">
    <p>Nombre de Réservations : <span class="float-end"><%= number_with_delimiter(@organisation.reservations.count, delimiter: " ") %></span></p>
    <p>Nombre de Prestations : <span class="float-end"><%= number_with_delimiter(@organisation.prestations.count, delimiter: " ") %></span></p>
    <% if @organisation.en_dépassement_plan_gratuit? %>
      <p class="text-danger">
        <i class="fas fa-exclamation-circle" title="La limite de la formule 'Libre' a été dépassée !"></i>
        Nombre de Factures : 
        <span class="float-end">
          <%= number_with_delimiter(@organisation.factures.count, delimiter: " ") %>
        </span>
        <br>
        <b>Limite de la formule libre et gratuite dépassée !</b> 
        <br>
        <%= link_to "Merci de nous contacter pour changer de formule.", "https://www.philnoug.com/contact" %>
      </p>
    <% else %>
      <p>
        Nombre de Factures : 
        <span class="float-end">
          <%= number_with_delimiter(@organisation.factures.count, delimiter: " ") %>
        </span>
      </p>
    <% end %>
  </div>

  <div class="col px-5 mx-3">
    <p>
      Total des Factures : 
      <span class="float-end">
        <%= number_to_currency(montant_total_factures = @organisation.factures.sum(:montant)) %>
      </span>
    </p>
    <p>
      Total des Paiements : 
      <span class="float-end">
        <%= number_to_currency(montant_total_paiements = @organisation.paiements.sum(:montant)) %>
      </span>
    </p>
    <p>
      Balance : 
      <span class="float-end <%= 'text-danger' if (montant_total_factures - montant_total_paiements).negative? %>">
        <%= number_to_currency(montant_total_factures - montant_total_paiements) %>
      </span>
    </p>
  </div>
</div>

<div class="shadow-sm mx-auto my-5 p-5">
  <div class="h4 py-1 px-2">Facturation des 12 derniers mois</div>
  <canvas class="p-10" id="chartBar"></canvas>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart bar -->
<script>
  const dataBarChart = {
    labels: <%= @results.keys.to_json.html_safe %>,
    datasets: [
      {
        label: "Total facturé (€)",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: <%= @results.values.to_json.html_safe %>,
      },
    ],
  };

  const configBarChart = {
    type: "bar",
    data: dataBarChart,
    options: {},
  };

  var chartBar = new Chart(
    document.getElementById("chartBar"),
    configBarChart
  );
</script>