<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'file-import' %> Importer données XLS</h2>
</div>

<p>
    <p>
        <h4>Pour importer les données, votre fichier doit être au format Excel 97-2003 (.xls)<br /> et contenir les colonnes suivantes :</h4>
        <%= Compte.xls_headers.join(', ') %>
    </p>

    <p>
        Exemple de fichier : <%= link_to "Fichier.xls", admin_exemple_fichier_import_xls_url %>
    </p>

    <p>
        <i>
            Ne permet que d'importer des données nouvelles. 
            Pour mettre à jour des données existantes, supprimer l'enregistrement pour qu'il soit recréé avec les nouvelles données.
        </i>
    </p>
</p>

<%= bootstrap_form_with(url: "import_do", method: :post, local: true) do |form| %>

    <div class="form-group col-sm-6">
        <%= form.file_field :file, {accept: '.xls', required: true, label: 'Fichier à importer'} %>
        <%= form.check_box :enregistrer, {custom: :switch, label: "Enregistrer les changements ? (non=Visualisation seulement)"} %>  
    </div>
    <br />

    <%= form.submit "Importer", class: "btn btn-success" %>
<% end %>

<script type="text/javascript">
    // Workaround for displaying selected file
    $("input[type=file]").change(function () {
        var fieldVal = $(this).val();

        // Change the node's value by removing the fake path (Chrome)
        fieldVal = fieldVal.replace("C:\\fakepath\\", "");

        if (fieldVal != undefined || fieldVal != "") {
            $(this).next(".custom-file-label").attr('data-content', fieldVal);
            $(this).next(".custom-file-label").text(fieldVal);
        }
    });
</script>
