<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><i class="fas fa-users-cog"></i> Administration</h2>
</div>
<br />  

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item">
        <h5>
          <i class="fas fa-city"></i> 
          <%= link_to organisation_url(current_user.organisation), class: "text-dark" do %>Organisation<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <i class="fas fa-user-friends"></i>
          <%= link_to users_admin_index_path, class: "text-dark" do %>Utilisateurs<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <i class="fas fa-euro-sign"></i>
          <%= link_to admin_tarifs_url, class: "text-dark" do %>Tarifs<% end %>
        </h5>
      </li>

    </ul>  
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h5>
          <i class="fas fa-calendar-day"></i>
          <%= link_to admin_ajout_prestations_path, class: "text-dark" do %>Comptabilisation prestations<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <i class="fas fa-calendar-day"></i>
          <%= link_to admin_ajout_factures_path, class: "text-dark" do %>Facturation prestations<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <i class="fas fa-paper-plane"></i>
          <%= link_to admin_envoyer_factures_path, class: "text-dark" do %>Envoyer les factures<% end %>
        </h5>
      </li>

    </ul>
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h5>
          <i class="fas fa-search"></i>
          <%= link_to admin_audit_path, class: "text-dark" do %>Audit des modifications<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <i class="fas fa-file-import"></i>
          <%= link_to admin_import_path, class: "text-dark" do %>Importer<% end %>
        </h5>
      </li>

    </ul>
  </div>

</div>
