<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'users-cog', class: 'text-success' %> Administration</h2>
</div>
<br />  

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item">
        <h5>
          <%= fa_icon 'city' %> 
          <%= link_to organisation_url(current_user.organisation), title: "Organisation, Structures, Vacances", class: "text-dark text-decoration-none" do %>Organisation<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'user-friends' %>
          <%= link_to users_admin_index_path, class: "text-dark text-decoration-none" do %>
            Utilisateurs
          <% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'euro-sign' %>
          <%= link_to admin_tarifs_url, title: "Tarifs, Types de tarifs et de Prestations", class: "text-dark text-decoration-none" do %>
            Prestations et Tarifs
          <% end %>
        </h5>
      </li>

    </ul>  
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'calendar-day' %>
          <%= link_to 'Comptabilisation prestations', admin_ajout_prestations_path, class: "text-dark text-decoration-none" %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'calendar-day' %>
          <%= link_to 'Facturation prestations', admin_ajout_factures_path, class: "text-dark text-decoration-none" %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'paper-plane' %>
          <%= link_to 'Envoyer les factures', admin_envoyer_factures_path, class: "text-dark text-decoration-none" %>
        </h5>
      </li>

    </ul>
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'search' %>
          <%= link_to 'Audit des modifications', admin_audit_path, class: "text-dark text-decoration-none" %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'file-import' %>
          <%= link_to 'Importer', admin_import_path, class: "text-dark text-decoration-none" %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'comment-dots' %>
          <%= link_to 'Messages de factures', facture_messages_path, title: "Afficher en bas de vos factures et dans l'e-mail d'accompagnement" ,class: "text-dark text-decoration-none" %>
        </h5>
      </li>

    </ul>
  </div>

</div>

<%= render partial: "dashboard", locals: { organisation: current_user.organisation } %>
