<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'users-cog' %> Administration</h2>
</div>
<br />  

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item">
        <h5>
          <%= fa_icon 'city' %> 
          <%= link_to organisation_url(current_user.organisation), title: "Organisation, Structures, Vacances", class: "text-dark" do %>Organisation<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'user-friends' %>
          <%= link_to users_admin_index_path, class: "text-dark" do %>Utilisateurs<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'euro-sign' %>
          <%= link_to admin_tarifs_url, title: "Tarifs, Types de tarifs et de Prestations", class: "text-dark" do %>Tarifs<% end %>
        </h5>
      </li>

    </ul>  
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'calendar-day' %>
          <%= link_to admin_ajout_prestations_path, class: "text-dark" do %>Comptabilisation prestations<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'calendar-day' %>
          <%= link_to admin_ajout_factures_path, class: "text-dark" do %>Facturation prestations<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'paper-plane' %>
          <%= link_to admin_envoyer_factures_path, class: "text-dark" do %>Envoyer les factures<% end %>
        </h5>
      </li>

    </ul>
  </div>

  <div class="col">
    <ul class="list-group">

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'search' %>
          <%= link_to admin_audit_path, class: "text-dark" do %>Audit des modifications<% end %>
        </h5>
      </li>

      <li class="list-group-item"></li>

      <li class="list-group-item">
        <h5>
          <%= fa_icon 'file-import' %>
          <%= link_to admin_import_path, class: "text-dark" do %>Importer<% end %>
        </h5>
      </li>

    </ul>
  </div>

</div>
