<p id="notice"><%= notice %></p>

<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light">
    <%= fa_icon 'mail-bulk' %>
    Mail Logs
  </h2>
</div>

<p class="text-muted">
  Journal d'activité des envois de courriels. Statut / État visiblent pendant 5 jours.
</p>

<%= form_tag request.path, method: :get do %>
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group">
        <%= select_tag :to, 
                        options_for_select(current_user.organisation.mail_logs.pluck(:to).uniq.sort, params[:to]), 
                        include_blank: true, 
                        class: 'form-control form-control-sm',
                        data: { 'action-target': 'selector' } %>
        <div class="input-group-append">
          <%= submit_tag 'ok',  name: 'action', 
                                class: 'btn btn-sm btn-outline-success',
                                data: {'action-target': 'button'} %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <%= check_box_tag :ko, 1, params[:ko], onchange:'this.form.submit()' %>
      <%= label_tag :ko, "Afficher que les KO ?" %>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= sortable :to do %>Destinataire<% end %></th>
        <th><%= sortable :subject do %>Objet<% end %></th>
        <th><%= sortable :created_at, default: true do %>Il y a<% end %></th>
        <th>Statut</th>
        <th>État</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @mail_logs.each do |mail_log| %>
        <% status_ko = @result_failed["items"].find{|item| item["message"]["headers"]["message-id"] == mail_log.message_id } %>

        <% if params[:ko].blank? || (mail_log.created_at > 5.days.ago && status_ko) %>
          <%= render partial: "mail_log", locals: {mail_log: mail_log, status_ko: status_ko} %>
        <% end %>

      <% end %>
    </tbody>
  </table>
</div>

<% if @mail_logs.respond_to?(:total_pages) %>
  <%= page_entries_info @mail_logs, entry_name: 'mail_log' %>
  <%= paginate @mail_logs, theme: 'twitter-bootstrap-4' %>
<% end %>