<%= bootstrap_form_with(model: organisation, local: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>

  <div class="row">
    <div class="col-sm-5">
      <%= form.text_field :nom %>
      <%= form.text_field :adresse %>
      <div class="row">
        <div class="col-sm-3"><%= form.text_field :cp %></div>
        <div class="col"><%= form.text_field :ville %></div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-sm-4"><%= form.text_field :téléphone %></div>
        <div class="col"><%= form.text_field :email %></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><%= form.select :zone, ['A', 'B', 'C'], { label: "Zone", help: "Zone de vacances scolaires", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %></div>
        <div class="col"><%= form.file_field :logo, help: "Votre logo. Apparaît sur l'entête des documents", placeholder: "Choisir un fichier image" %></div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-5">
      <h3><%= fa_icon 'school' %> Structures</h3>

      <template data-nested-form-target="template">
        <%= form.fields_for :structures, Structure.new, child_index: 'NEW_RECORD' do |structure_fields| %>
          <%= render "structure_form", f: structure_fields %>
        <% end %>
      </template>

      <%= form.fields_for :structures do |structure_fields| %>
        <%= render "structure_form", f: structure_fields %>
      <% end %>

      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target"></div>

      <button class="btn btn-outline-primary" type="button" data-action="nested-form#add"><%= fa_icon 'plus-circle' %> Ajouter une structure</button>
    </div>
    
    <div class="col">
      <h3><%= fa_icon 'umbrella-beach' %> Vacances spécifiques à votre organisation</h3>
      <%= form.fields_for :vacances do |vacance_form| %>
        <div class="row">
          <div class="col"><%= vacance_form.text_field :nom, label_as_placeholder: true %></div>
          <div class="col"><%= vacance_form.date_field :début, label_as_placeholder: true %></div>
          <div class="col"><%= vacance_form.date_field :fin, label_as_placeholder: true %></div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>

<% end %>
<br>

<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>