<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'city' %> Organisation</h2>
</div>

<p>
  <h2>
    <%= @organisation.nom %>
  </h2>
</p>
    
<div class="row">
  <div class="col">
    <p>
      <strong>Adresse:</strong>
      <%= @organisation.adresse %>
    </p>

    <p>
      <strong>Ville:</strong>
      <%= @organisation.cp %> <%= @organisation.ville %>
    </p>

    <p>
      <strong>Téléphone:</strong>
      <%= @organisation.téléphone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @organisation.email %>
    </p>

  </div>

  <div class="col">
    <% if @organisation.logo.attached? %>
      <%= image_tag url_for(@organisation.logo), width: 150 %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <h3><%= fa_icon 'school' %> Structures</h3>
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Classes</th>
            <th>Enfants</th>
            <th></th>
          </tr>
        </thead>

        <% @organisation.structures.each do |structure| %>
          <tr>
            <td><%= link_to structure.nom, structure %></td>
            <td><%= structure.classrooms.pluck(:nom).join(", ") %></td>
            <td><%= structure.enfants.size %></td>
            <td>
              <% if policy(structure).destroy? %>
                <%= link_to structure, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                    <%= fa_icon 'trash-alt' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </p>
  </div>

  <div class="col">
    <p>
      <h3><%= fa_icon 'umbrella-beach' %> Vacances à venir en zone <%= @organisation.zone %></h3>
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Début</th>
            <th>Fin</th>  
          </tr>
        </thead>

        <% @vacances.each do | vacance | %>
          <tr>
            <td><%= vacance.nom %></td>
            <td><%= l vacance.début %></td>
            <td><%= l vacance.fin if vacance.fin %></td>
          </tr>
        <% end %>
      </table>
    </p>
  </div>
</div>

<hr>

<% if policy(@organisation).edit? %>
  <%= link_to edit_organisation_path(@organisation), class: "btn btn-outline-primary" do %>
    <%= fa_icon 'edit', text: ' Editer' %>
  <% end %>
<% end %>