<% if notice.present? || alert.present? %>
  <div class="alert alert-dismissible fade show alert-<%= notice ? 'warning' : 'danger' %> mt-3" role="alert">
    <% if alert %>
      <%= fa_icon 'exclamation-circle' %>
      <%= alert %>
    <% else %>
      <%= fa_icon 'info-circle' %>
      <%= notice %>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>