<nav class="navbar navbar-expand-lg fixed-top bg-white shadow-sm">
  <div class="container-fluid">
    <%= link_to (user_signed_in? ? comptes_path : root_path), class: 'navbar-brand fw-bold' do %>
      <% if (user_signed_in? && current_user.visiteur? && @compte) %> 
        Mon compte (<%= @compte.nom_civilité %>)
      <% else %>
        <%= image_tag "logo.png", class: "mb-lg-2" %>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user.visiteur? %>
            <%= navbar_nav_item('Mon compte', 'users', 'dark', moncompte_index_path, 'moncompte' ) %>
          <% else %>
            <%= navbar_nav_item('Comptes', 'users', 'dark', comptes_path, 'comptes') %>
            <%= navbar_nav_item('Enfants', 'child', 'primary', enfants_path, 'enfants') %>
            <%= navbar_nav_item('Réservations', 'calendar-alt', 'warning', reservations_path, 'reservations') %>
            <%= navbar_nav_item('Absences', 'calendar-times', 'danger', absences_path, 'absences') %>
            <%= navbar_nav_item('Pointages', 'calendar-check', 'success', pointages_path, 'pointages') %>
            <%= navbar_nav_item('Prestations', 'utensils', 'secondary', prestations_path, 'prestations') %>
            <%= navbar_nav_item('Factures', 'file-invoice', 'info', factures_path, 'factures') %>
            <%= navbar_nav_item('Paiements', 'money-bill-alt', 'success', paiements_path, 'paiements') %>
          <% end %>
        <% else %>
          <%= navbar_nav_item('Accueil', 'home', 'primary', root_path, 'pages', 'accueil') %>
          <%= navbar_nav_item('Guide', 'book-open', 'info', guide_path, 'pages', 'guide') %>
          <%= navbar_nav_item('Blog', 'comment', 'success', actualites_path, 'pages', 'actualites') %>
          <%= navbar_nav_item('Contact', 'comments', 'warning', new_message_path, 'messages', nil, nil, false) %>
        <% end %>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% unless user_signed_in? %>
            <%= link_to "Connexion", 
                new_user_session_path, 
                class: "btn btn-outline-primary" 
            %>
          <% else %>
            <% if current_user.admin? %>
              <%= navbar_nav_item('Admin', 'tools', 'success', admin_index_path, 'admin', nil, 'dashboard') %>
              <% if current_user.organisation.en_dépassement_plan_gratuit? %>
                <p class="text-danger me-1">
                  <i class="fas fa-exclamation-circle" title="La limite de la formule libre et gratuite a été dépassée !"></i>
                </p>
              <% end %>    

              <%= navbar_nav_item('Stats', 'users-cog', 'primary', admin_dashboard_path, 'admin', 'dashboard') %>
              <%= navbar_nav_item('Guide', 'book-open', 'info', guide_path, 'pages', 'guide') %>
            <% end %>
            <%= button_to 'Déconnexion', destroy_user_session_path, class: "btn btn-outline-danger btn-sm", method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav> 

<div style="height: 80px;"></div>