
<nav class="navbar navbar-expand-lg fixed-top bg-white bg-opacity-75 shadow-sm py-3">
  <div class="container-fluid">
    <%= link_to (user_signed_in? ? comptes_path : root_path), class: 'navbar-brand fw-bold' do %>
      PrestoFacto
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user.visiteur? %>
            <%= navbar_nav_item('moncompte', 'users', 'dark', moncompte_index_path, 'Mon compte') %>
          <% else %>
            <%= navbar_nav_item('comptes', 'users', 'dark', comptes_path) %>
            <%= navbar_nav_item('enfants', 'child', 'primary', enfants_path) %>
            <%= navbar_nav_item('reservations', 'calendar-alt', 'warning', reservations_path, 'Réservations') %>
            <%= navbar_nav_item('absences', 'calendar-times', 'danger', absences_path) %>
            <%= navbar_nav_item('prestations', 'utensils', 'secondary', prestations_path) %>
            <%= navbar_nav_item('factures', 'file-invoice', 'info', factures_path) %>
            <%= navbar_nav_item('paiements', 'money-bill-alt', 'success', paiements_path) %>
          <% end %>
        <% else %>
          <%= navbar_item('accueil', root_path) %>
          <%= navbar_item('actualites', actualites_path, 'Actualités') %>
          <%= navbar_item('guide', guide_path) %>
          <%= navbar_nav_item('messages', 'comments', 'secondary', new_message_path, 'Contact') %>
        <% end %>
      </ul>
      <div class="d-flex">
        <% unless user_signed_in? %>
          <%= link_to "Connexion", 
              new_user_session_path, 
              class: "btn btn-outline-success" 
          %>
        <% else %>
          <% if current_user.admin? %>
            <%= link_to "Administration", 
                admin_index_path, 
                class: "btn btn-sm btn-link me-1" 
            %>
            <%= link_to "Tableau de bord", 
                dashboard_path, 
                class: "btn btn-sm btn-link me-1" 
            %>
            <%= link_to "Guide", 
                guide_path, 
                class: "btn btn-sm btn-link me-1" 
            %>
          <% end %>
        
          <%= link_to "Déconnexion", 
              destroy_user_session_path, 
              method: :delete, 
              class: "btn btn-outline-danger btn-sm" 
          %>
        <% end %>
      </div>
    </div>
  </div>
</nav> 

<div style="height: 80px;"></div>