
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= @site_name %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user %>
          <% if current_user.visiteur? %>
            <%= navbar_nav_item('moncompte', 'users',  moncompte_index_path) %>
          <% else %>
            <%= navbar_nav_item('comptes', 'users', comptes_path) %>
            <%= navbar_nav_item('enfants', 'child', enfants_path) %>
            <%= navbar_nav_item('réservations', 'calendar-alt', reservations_path) %>
            <%= navbar_nav_item('absences', 'calendar-times', absences_path) %>
            <%= navbar_nav_item('prestations', 'utensils', prestations_path) %>
            <%= navbar_nav_item('factures', 'file-invoice', factures_path) %>
            <%= navbar_nav_item('paiements', 'money-bill-alt', paiements_path) %>
          <% end %>
        <% else %>
          <%= navbar_nav_item('Accueil', 'home', new_user_session_path) %>
          <%= navbar_nav_item('Mode démonstration', 'eye', admin_mode_demonstration_path) %>
        <% end %>
        <%= navbar_nav_item("guide d'utilisation", 'book', guide_utilisation_path) %>
        <%= navbar_nav_item('a_propos', 'info-circle', guide_a_propos_path) %>
      </ul>
      <div class="d-flex">
        <% unless user_signed_in? %>
            <%= link_to "S'inscrire",
                new_user_registration_path, 
                class: "btn btn-outline-primary btn-sm me-2" 
            %>
            <%= link_to "Connexion", 
                new_user_session_path, 
                class: "btn btn-outline-success btn-sm" 
            %>
            <% else %>
              <% if current_user.admin? %>
                <%= link_to "Administration", 
                    admin_index_path, 
                    class: "btn btn-outline-primary btn-sm me-2" 
                %>
              <% end %> 

              <%= link_to "Déconnection", 
                  destroy_user_session_path, 
                  method: :delete, 
                  class: "btn btn-outline-danger btn-sm" 
              %>
        <% end %>
      </div>
    </div>
  </div>
</nav> 