
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <%= link_to (user_signed_in? ? comptes_path : root_path), class: 'navbar-brand' do %>
      PrestoFacto
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user %>
          <% if current_user.visiteur? %>
            <%= navbar_nav_item('moncompte', 'users',  moncompte_index_path) %>
          <% else %>
            <%= navbar_nav_item('comptes', 'users', comptes_path) %>
            <%= navbar_nav_item('enfants', 'child', enfants_path) %>
            <%= navbar_nav_item('réservations', 'calendar-alt', reservations_path) %>
            <%= navbar_nav_item('absences', 'calendar-times', absences_path) %>
            <%= navbar_nav_item('prestations', 'utensils', prestations_path) %>
            <%= navbar_nav_item('factures', 'file-invoice', factures_path) %>
            <%= navbar_nav_item('paiements', 'money-bill-alt', paiements_path) %>
            <%= navbar_nav_item('pages', 'book', pages_guide_path, 'guide') %>
          <% end %>
        <% else %>
          <%= navbar_nav_item('pages', 'home', pages_accueil_path, 'accueil') %>
          <%= navbar_nav_item('pages', 'info-circle', pages_a_propos_path, 'a_propos') %>
          <%= navbar_nav_item('pages', 'book', pages_guide_path, 'guide') %>
          <%= navbar_nav_item('pages', 'rss', pages_blog_path, 'blog') %>
          <li class="nav-item">
            <%= link_to new_message_path, class: "nav-link" do %>
              <%= fa_icon 'envelope' %>
              Nous contacter
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% unless user_signed_in? %>
          <%= link_to "S'inscrire",
              new_user_registration_path, 
              class: "btn btn-outline-primary me-2" 
          %>
          <%
=begin%>
 <%= link_to "Tester", 
              admin_mode_demonstration_path, 
              title: 'passer en mode démonstration',
              class: "btn btn-outline-warning me-2"  
          %> 
<%
=end%>
          <%= link_to "Connexion", 
              new_user_session_path, 
              class: "btn btn-outline-success" 
          %>
        <% else %>
          <% if current_user.admin? %>
            <%= link_to "Administration", 
                admin_index_path, 
                class: "btn btn-outline-primary btn-sm me-2" 
            %>
          <% end %> 

          <%= link_to "Déconnexion", 
              destroy_user_session_path, 
              method: :delete, 
              class: "btn btn-outline-danger btn-sm" 
          %>
        <% end %>
      </div>
    </div>
  </div>
</nav> 

<div style="height: 80px;"></div>