<tr>
    <td><%= compte.structure.nom %></td>
    <td><%= link_to compte.nom, compte %></td>
    <td><%= compte.civilité %></td>
    <td><%= compte.adresse1 %></td>
    <td><%= compte.adresse2 %></td>
    <td><%= compte.cp %></td>
    <td><%= compte.ville %></td>
    <td><%= compte.num_allocataire %></td>
    <td><%= compte.enfants.pluck(:prénom).join(', ') %> (<%= compte.enfants_count %>)</td>
    <td><% if policy(compte).edit? %>
            <%= link_to edit_compte_path(compte) do %>
            <i class="far fa-edit"></i>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(compte).destroy? %>
        <%= link_to compte, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
            <%= fa_icon 'trash-alt' %>
        <% end %>
        <% end %>
    </td>
</tr>
