<tr>
    <td><%= link_to compte.nom, compte %></td>
    <td><%= compte.enfants.pluck(:prénom).join(', ') %> (<%= compte.enfants_count %>)</td>
    <td><%= compte.adresse1 %></td>
    <td><%= compte.cp %></td>
    <td><%= compte.ville %></td>
    <td class="text-end"><%= number_to_currency compte.solde %></td>
    <td><% if policy(compte).edit? %>
            <%= link_to edit_compte_path(compte) do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(compte).destroy? %>
            <%= link_to compte, method: :delete, data: { confirm: 'Attention ! Les enfants liés à ce compte seront effacés ! Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt', class: 'text-danger' %>
            <% end %>
        <% end %>
    </td>
</tr>
