<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="row">
      <div class="col"><%= f.text_field :nom, label_as_placeholder: true, required: true %></div>
      <div class="col"><%= f.email_field :email, label_as_placeholder: true, required: true %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.text_field :fixe, label_as_placeholder: true %></div>
    <div class="col"><%= f.text_field :portable, label_as_placeholder: true %></div>
    <div class="col"><%= f.check_box :prevenir, label_as_placeholder: true, label: "Personne à prévenir en cas d'urgence" %></div>
    <div class="col-1"><a type="button" data-action="nested-form#remove"><%= fa_icon 'trash-alt', class:"text-danger mt-3" %></a></div>
  </div>
  <hr>
  <%= f.hidden_field :_destroy %>
</div>