<%= bootstrap_form_with(model: compte, local: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>

  <%= form.hidden_field :organisation_id %>

  <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="row">
        <div class="col-sm-9">
          <%= form.text_field :nom, required: true, autofocus: false %>
        </div>
        <div class="col-sm-3">
          <%= form.select :civilité, ["M","Mme","M et Mme"] %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= form.text_field :adresse1, label: "Adresse" %>
        </div>
        <div class="col">
          <%= form.text_field :adresse2, label: "Adresse complémentaire" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"><%= form.text_field :cp %></div>
        <div class="col-sm-9"><%= form.text_field :ville %></div>
      </div>
      <%= form.text_field :num_allocataire, label: "Numéro d'Allocataire" %>
      <%= form.text_area :mémo %>
      <%= check_box_tag :acces %>
      <%= label_tag :acces, "Créer automatiquement un compte d'accès au portail parents pour les contacts à prévenir en cas d'urenge et leur envoyer une notification ?", class:'d-inline' %>
    </div>

    <div class="col-sm-6">
      <h5>
        Contacts
      </h5>
      <template data-nested-form-target="template">
        <%= form.fields_for :contacts, Contact.new, child_index: 'NEW_RECORD' do |contact_fields| %>
          <%= render "contact_form", f: contact_fields %>
        <% end %>
      </template>

      <%= form.fields_for :contacts do |contact_fields| %>
        <%= render "contact_form", f: contact_fields %>
      <% end %>

      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target"></div>

      <button class="btn btn-outline-primary" type="button" data-action="nested-form#add"><%= fa_icon 'plus-circle' %> Ajouter un contact</button>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>
  </div>

<% end %>
