<%= bootstrap_form_with(model: compte, local: true) do |form| %>

  <%= form.hidden_field :organisation_id %>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-9">
          <%= form.text_field :nom, required: true, autofocus: false %>
        </div>
        <div class="col-sm-3">
          <%= form.select :civilité, ["M","Mme","M et Mme"] %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= form.text_field :adresse1, label: "Adresse" %>
        </div>
        <div class="col">
          <%= form.text_field :adresse2, label: "Adresse complémentaire" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"><%= form.text_field :cp %></div>
        <div class="col-sm-9"><%= form.text_field :ville %></div>
      </div>
      <%= form.text_field :num_allocataire, label: "Numéro d'Allocataire" %>
      <%= form.text_area :mémo %>
    </div>

    <div class="col-sm-6">
      <h5>
        Contacts
      </h5>
      <%= form.fields_for :contacts do |contact_form| %>
        <div class="row">
            <div class="col"><%= contact_form.text_field :nom, label_as_placeholder: true %></div>
            <div class="col"><%= contact_form.text_field :email, label_as_placeholder: true %></div>
        </div>
        <div class="row">
            <div class="col"><%= contact_form.text_field :fixe, label_as_placeholder: true %></div>
            <div class="col"><%= contact_form.text_field :portable, label_as_placeholder: true %></div>
            <div class="col"><%= contact_form.check_box :prevenir, label_as_placeholder: true, label: "Personne à prévenir en cas d'urgence" %></div>
            <% unless compte.new_record? %>
              <div class="col"><%= contact_form.check_box :_destroy, label: "Supprimer ?" %></div>
            <% end %>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>

<% end %>
