<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><i class="fas fa-balance-scale"></i> Balance</h2>
</div>

<p>
	<h3>Compte: <%= @compte.nom %></h3> 
	Solde à ce jour: <%= number_to_currency(@solde, unit:'€') %>
</p>

<table class="table table-hover table-striped">
  <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Référence</th>
    <th class="text-right">Débit</th>
    <th class="text-right">Crédit</th>
    <th class="text-right">Solde</th>
  </thead>

	<tbody>
		<% @releve.each do |ligne| %>
			<%= render partial: 'balance', locals: {ligne: ligne} %>
		<% end %>
    </tbody>

	<tfoot>
		<tr>
			<th><%= l Date.today %></th>
			<th>SOLDE</th>
			<th></th>
			<th class="text-right"><%= number_to_currency(@debit, unit:'€') %></th>
			<th class="text-right"><%= number_to_currency(@credit, unit:'€') %></th>
			<th class="text-right"><%= number_to_currency(@solde, unit:'€') %></th>
		</tr>
	</tfoot>
	
</table>
