<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Compte).new? %>
    <%= link_to new_compte_path, class: 'btn text-primary float-right' do %>
      <i class="fas fa-plus-circle"></i> Compte
    <% end %>
  <% end %>
  <h2><i class="fas fa-users"></i> Comptes</h2>
</div>

<%= bootstrap_form_tag url: comptes_path, method: :get do |f| %>
  <div class="row">
    <div class="col-sm-3"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col"><%= f.text_field :search, value: params[:search], label: 'Nom/CP/Ville/Num', onchange: "this.form.submit()" %></div>
  </div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sort_link 'structures.nom', 'Structure' %></th>
      <th><%= sort_link 'comptes.nom', 'Nom' %></th>
      <th><%= sort_link 'comptes.civilité', 'Civilité' %></th>
      <th colspan=2><%= sort_link 'comptes.adresse1', 'Adresse' %></th>
      <th><%= sort_link 'comptes.cp', 'CP'%></th>
      <th><%= sort_link 'comptes.ville', 'Ville' %></th>
      <th><%= sort_link 'comptes.num_allocataire', 'Num allocataire' %></th>
      <th><%= sort_link 'comptes.enfants_count', 'Enfants' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tfoot><tr><% 11.times do %><th></th><% end %></tr></tfoot>

  <tbody>
    <%= render @comptes.includes(:structure, :enfants) %>
  </tbody>
</table>

<small class="text-secondary">
  <%= @comptes.size %> 
  <%= 'Compte'.pluralize(@comptes.size) %> 
</small> 

<%= will_paginate @comptes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>
