<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Compte).new? %>
    <%= link_to new_compte_path, class: 'btn btn-outline-primary float-end' do %>
      <%= fa_icon 'plus-circle' %> Ajouter un Compte
    <% end %>
  <% end %>
  <h2 class="fw-light"><%= fa_icon 'users' %> Comptes</h2>
</div>

<%= bootstrap_form_tag url: comptes_path, method: :get do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field :search, 
                        value: params[:search], 
                        label: 'Rechercher',
                        placeholder: 'Entrez un terme à rechercher (ex: Nom, Prénom enfant, Code postal, Ville, Numéro allocataire, Badge)', 
                        onchange: 'this.form.submit()', 
                        autofocus: false %>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link 'comptes.nom', 'Nom' %></th>
        <th><%= sort_link 'comptes.enfants_count', 'Enfants' %></th>
        <th><%= sort_link 'comptes.adresse1', 'Adresse' %></th>
        <th><%= sort_link 'comptes.cp', 'CP'%></th>
        <th><%= sort_link 'comptes.ville', 'Ville' %></th>
        <td class="sortlink-style">Solde</td>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @comptes %>
    </tbody>

  </table>
</div>

<%= page_entries_info @comptes, entry_name: 'compte' %>
<%= paginate @comptes, theme: 'twitter-bootstrap-4' %>

<% if policy(Compte).to_xls? && !@comptes.size.zero? %>
  <%= link_to url_for(params.permit(:search).merge(format: :xls)),
              class: "float-sm-end text-success" do %>
      <%= fa_icon "file-excel", class: 'me-1 mb-5', text: "Export XLS" %>
  <% end %>
<% end %>
