<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Compte).new? %>
    <%= link_to new_compte_path, class: 'btn btn-link float-end' do %>
      <%= fa_icon 'plus-circle' %> Compte
    <% end %>
  <% end %>
  <h2><%= fa_icon 'users' %> Comptes</h2>
</div>

<%= bootstrap_form_tag url: comptes_path, method: :get do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field :search, 
                        value: params[:search], 
                        label: 'Rechercher',
                        placeholder: 'Entrez un mot à rechercher dans Nom du compte/Prénom enfant/Code postal/Ville/Numéro allocataire/N° badge', 
                        onchange: 'this.form.submit()', 
                        autofocus: true %>
    </div>
  </div>
<% end %>

<table class="table table-bordered table-hover table-striped  table-sm">
  <thead>
    <tr>
      <th><%= sort_link 'comptes.nom', 'Nom' %></th>
      <th><%= sort_link 'comptes.civilité', 'Civilité' %></th>
      <th><%= sort_link 'comptes.adresse1', 'Adresse' %></th>
      <th><%= sort_link 'comptes.cp', 'CP'%></th>
      <th><%= sort_link 'comptes.ville', 'Ville' %></th>
      <th><%= sort_link 'comptes.num_allocataire', 'Num allocataire' %></th>
      <th><%= sort_link 'comptes.enfants_count', 'Enfants' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @comptes %>
  </tbody>

  <tfoot><tr><th colspan=10></th></tr></tfoot>

</table>

<%= page_entries_info @comptes %>
<%= paginate @comptes, theme: 'twitter-bootstrap-4' %>
