<p>
  <strong>Compte:</strong>
  <%= @paiement.compte.nom %>
</p>

<p>
  <strong>Date</strong>
  <%= @paiement.date %>
</p>

<p>
  <strong>Réf:</strong>
  <%= @paiement.réf %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @paiement.mode %>
</p>

<p>
  <strong>Banque:</strong>
  <%= @paiement.banque %>
</p>

<p>
  <strong>Chèque num:</strong>
  <%= @paiement.chèque_num %>
</p>

<p>
  <strong>Montant:</strong>
  <%= number_to_currency(@paiement.montant, unit: '€', precision: 2, format: "%n %u") %>
</p>

<p>
  <strong>Date remise:</strong>
  <%= @paiement.date_remise %>
</p>

<p>
  <strong>Mémo:</strong>
  <%= @paiement.mémo %>
</p>

<%= link_to 'Editer', edit_paiement_path(@paiement) %> |
<%= link_to 'Retour', paiements_path %>
