<tr>
    <td><%= user.email %></td>
    <td><%= user.role.humanize %></td>
    <td><% if policy(user).edit? %>
            <%= link_to  edit_user_path(user) do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(user).destroy? %>
            <%= link_to users_admin_path(user), method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt', class: 'text-danger' %>
            <% end %>
        <% end %>
    </td>
</tr>
