<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(User).new? %>
    <%= link_to new_users_admin_path, class: 'btn btn-outline-primary float-end' do %>
      <%= fa_icon 'plus-circle' %> Ajouter un Utilisateur
    <% end %>
  <% end %>

  <h2 class="fw-light d-inline"><%= fa_icon 'user-friends' %> Utilisateurs / Accès portail parents</h2>
  <%= link_to guide_path(anchor: "portail") do %>
    <%= fa_icon 'question-circle', type: :regular, title: "Ouvrir l'aide", class: 'text-muted mx-2' %>
  <% end %>
</div>

<%= bootstrap_form_tag url: users_admin_index_path, method: :get do |f| %>
  <%= f.text_field :search, value: params[:search], onchange: "this.form.submit()", label: 'Rechercher' %>
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Rôle</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= page_entries_info @users, entry_name: 'utilisateur' %>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>
