<tr>
    <td><%= enfant.compte.structure.nom %></td>
    <td><%= link_to enfant.compte.nom, enfant.compte %></td>
    <td><%= enfant.classroom.nom %></td>
    <td><%= enfant.nom %></td>
    <td><%= link_to enfant.prénom, enfant %></td>
    <td><%= l enfant.date_naissance %></td>
    <td class="text-center"><%= fa_icon 'exclamation' if enfant.menu_sp %></td>
    <td class="text-center"><%= fa_icon 'exclamation' if enfant.menu_all %></td>
    <td><%= enfant.reservations.actives.joins(:prestation_type).pluck("prestation_types.nom").join(', ') %></td>
    <td>
        <% if policy(enfant).edit? %>
            <%= link_to edit_enfant_path(enfant) do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(enfant).destroy? %>
            <%= link_to enfant, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt' %>
            <% end %>
        <% end %>
    </td>
</tr>
