<%= bootstrap_form_with(model: enfant, local: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f| %>

  <%= f.hidden_field :compte_id %>
  
  <div class="row">
    <div class="col"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom_et_structure', enfant.classroom_id), { label: "Classe" }, { class: "selectpicker" } %></div>
    <div class="col"><%= f.text_field :nom, required: true %></div>
    <div class="col"><%= f.text_field :prénom, required: true %></div>
    <div class="col"><%= f.date_field :date_naissance%></div>
    <div class="col"><%= f.select :tarif_type_id, options_from_collection_for_select(@tarif_types, 'id', 'nom', enfant.tarif_type_id), { label: "Tarif"}, { class: "selectpicker" } %></div>
    <div class="col-sm-1"><%= f.text_field :badge %></div>
  </div>

  <div class="row">
    <div class="col-sm-1">
      <%= f.check_box :menu_all, label: "Allergie", custom: :switch %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :allergenes, label_as_placeholder: true, label: 'Allergènes' %>
    </div>
    <div class="col-sm-2">
      <%= f.check_box :menu_sp, label: "Menu 'Sans porc'", custom: :switch %>
    </div>
    <div class="col">
      <div class="col"><%= f.text_field :mémo, label_as_placeholder: true, label: 'Mémo' %></div>
    </div>
  </div>
  <br>

  <h3><%= fa_icon 'calendar-alt', class: 'text-warning' %> Réservations</h3>
  <hr />
  
  <template data-nested-form-target="template">
    <%= f.fields_for :reservations, Reservation.new, child_index: 'NEW_RECORD' do |reservation_fields| %>
      <%= render "reservation_form", f: reservation_fields %>
    <% end %>
  </template>

  <%= f.fields_for :reservations, layout: :horizontal do |reservation_fields| %>
    <%= render "reservation_form", f: reservation_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button class="btn btn-outline-primary" type="button" data-action="nested-form#add"><%= fa_icon 'plus-circle' %> Ajouter réservation</button>

  <%= f.submit "Enregistrer", class: "btn btn-outline-success" %>

<% end %>
<br>


