<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light"><%= fa_icon 'child', class: 'text-primary' %> 
    <%= @enfant.prénom_et_nom %>
  </h2>
</div>
<br>


<%= render 'form', enfant: @enfant %>

<%= link_to 'Voir', @enfant %> |
<%= link_to 'Retour', enfants_path %>
