<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light"><%= fa_icon 'child', class: 'text-primary' %> Enfants</h2>
</div>

<%= bootstrap_form_tag url: enfants_path, method: :get do |f| %>
  <div class="row">
    <div class="col"><%= f.text_field :search, value: params[:search], label: 'Nom/Prénom/Badge', onchange: "this.form.submit()", autofocus: false %></div>
    <div class="col-sm-3"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom', params[:classroom_id]), { include_blank: true, label: "Classe" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
  </div>
<% end %>

<%= bootstrap_form_tag url: action_enfants_path, method: :post do %>
  <div class="table-responsive" data-controller="action">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link 'structures.nom', 'Structure' %></th>
          <th><%= sort_link 'classrooms.nom', 'Classe' %></th>
          <th><%= sort_link 'comptes.nom', 'Compte' %></th>
          <th><%= sort_link 'enfants.nom', 'Nom' %></th>
          <th><%= sort_link 'enfants.prénom', 'Prénom' %></th>
          <th><%= sort_link 'enfants.date_naissance', 'Né(e) le' %></th>
          <th><%= sort_link 'enfants.menu_all', 'ALLERGIE?' %></th>
          <th><%= sort_link 'enfants.menu_sp', 'SP?' %></th>
          <th><%= sort_link 'enfants.mémo', 'Mémo' %></th>
          <th style="font-weight: normal">Réservations</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tfoot><tr><th colspan=13></th></tr></tfoot>

      <tbody>
        <%= render @enfants.includes(:compte, :classroom) %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <%= select_tag :action_name, 
                          options_for_select(["Marquer comme absent ce jour", "Changer de classe"]), 
                          include_blank: true, 
                          class: 'form-control form-control-sm',
                          data: { 'action-target': 'selector' } %>
          <div class="input-group-append">
            <%= submit_tag 'ok',  name: 'action', 
                                  class: 'btn btn-sm btn-outline-success',
                                  data: {'action-target': 'button'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= page_entries_info @enfants, entry_name: 'enfant' %>
<%= paginate @enfants, theme: 'twitter-bootstrap-4' %>

<% if policy(Enfant).to_xls? && !@enfants.size.zero? %>
  <%= link_to url_for(params.permit(:search).merge(format: :xls)),
              class: "float-sm-end" do %>
      <%= fa_icon "file-excel", text: " Export XLS" %>
  <% end %>
<% end %>