<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><i class="fas fa-child"></i> Enfants</h2>
</div>

<%= bootstrap_form_tag url: enfants_path, method: :get do |f| %>
  <div class="row">
    <div class="col-sm-3"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom', params[:classroom_id]), { include_blank: true, label: "Classe" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col"><%= f.text_field :nom, value: params[:nom], label: 'Nom/Prénom', onchange: "this.form.submit()" %></div>
  </div>
<% end %>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th><%= sort_link 'structures.nom', 'Structure' %></th>
      <th><%= sort_link 'comptes.nom', 'Compte' %></th>
      <th><%= sort_link 'classrooms.nom', 'Classe' %></th>
      <th><%= sort_link 'enfants.nom', 'Nom' %></th>
      <th><%= sort_link 'enfants.prénom', 'Prénom' %></th>
      <th><%= sort_link 'enfants.date_naissance', 'Né.e le' %></th>
      <th><%= sort_link 'enfants.menu_sp', 'SP?' %></th>
      <th><%= sort_link 'enfants.menu_all', 'ALLERGIE?' %></th>
      <th>Réservations</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tfoot><tr><% 11.times do %><th></th><% end %></tr></tfoot>

  <tbody>
    <%= render @enfants.includes(:compte, :classroom) %>
  </tbody>
</table>

<small class="text-secondary">
  <%= @enfants.size %> 
  <%= 'Enfant'.pluralize(@enfants.size) %> 
</small> 


<%= will_paginate @enfants, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<br>
