<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'child' %> Enfants</h2>
</div>

<%= bootstrap_form_tag url: enfants_path, method: :get do |f| %>
  <div class="row">
    <div class="col"><%= f.text_field :search, value: params[:search], label: 'Nom/Prénom/Badge', onchange: "this.form.submit()", autofocus: true %></div>
    <div class="col-sm-3"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom', params[:classroom_id]), { include_blank: true, label: "Classe" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead>
      <tr>
        <th><%= sort_link 'structures.nom', 'Structure' %></th>
        <th><%= sort_link 'classrooms.nom', 'Classe' %></th>
        <th><%= sort_link 'comptes.nom', 'Compte' %></th>
        <th><%= sort_link 'enfants.nom', 'Nom' %></th>
        <th><%= sort_link 'enfants.prénom', 'Prénom' %></th>
        <th><%= sort_link 'enfants.date_naissance', 'Né(e) le' %></th>
        <th><%= sort_link 'enfants.menu_all', 'ALLERGIE ?' %></th>
        <th><%= sort_link 'enfants.menu_sp', 'SP ?' %></th>
        <th>Réservations</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tfoot><tr><th colspan=11></th></tr></tfoot>

    <tbody>
      <%= render @enfants.includes(:compte, :classroom) %>
    </tbody>
  </table>
</div>

<%= page_entries_info @enfants %>
<%= paginate @enfants, theme: 'twitter-bootstrap-4' %>

<% if policy(Enfant).to_xls? && !@enfants.size.zero? %>
  <%= link_to url_for(params.permit(:search).merge(format: :xls)),
              class: "float-sm-end" do %>
      <%= fa_icon "file-excel", text: " Export XLS" %>
  <% end %>
<% end %>