<div class="card">
  <div class="card-header">
    <h2>
      <%= @enfant.prénom %>
      <%= @enfant.nom %>
    </h2>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <p>
          <strong>Compte:</strong>
          <%= link_to @enfant.compte.nom, @enfant.compte %>
        </p>

        <p>
          <strong>Classe:</strong>
          <%= @enfant.classroom.nom %>
        </p>
      </div>

      <div class="col">
        <p>
          <strong>Date naissance:</strong>
          <%= l @enfant.date_naissance %>
        </p>

        <p class="alert <%= 'alert-info' unless @enfant.mémo.blank? %>" >
          <%= @enfant.mémo %>
        </p>
      </div>

      <div class="col">
        <p>
          <strong>Menu 'Sans porc' ? :</strong>
          <%= "OUI" if @enfant.menu_sp %>
        </p>

        <p class="alert <%= 'alert-warning' if @enfant.menu_all %>" >
          <strong>Allergie ? :</strong>
          <%= "OUI" if @enfant.menu_all %>
          <%= "=> #{ @enfant.allergenes }" if @enfant.menu_all %>
        </p>
      </div>

    </div>

    <% if policy(@enfant).edit? %>
      <%= link_to edit_enfant_path(@enfant), class: "btn" do %>
        <%= fa_icon 'edit', text: ' Editer' %> 
      <% end %>
    <% end %>
  </div>

</div>

<div class="card">
  <div class="card-body">
    <h4><%= fa_icon 'calendar-alt' %> Réservations actives</h4>
    <br>

    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th></th>
          <th>Début</th>
          <th>Fin</th>
          <th>Etat</th>
          <th>Lun</th>
          <th>Mar</th>
          <th>Mer</th>
          <th>Jeu</th>
          <th>Ven</th>
          <th>Matin</th>
          <th>Midi</th>
          <th>Soir</th>
          <th>H.P.S ?</th>
        </tr>
      </thead>

      <% @enfant.reservations.actives.each do |reservation| %>
        <tr>
          <td><%= reservation.prestation_type.nom %>
          <td><%= l reservation.début %></td>
          <td><%= l reservation.fin %></td>

          <td><span class="badge <%= reservation.style %>"><%= reservation.workflow_state.humanize %></span></td>

          <td class="text-center"><%= number_with_precision(reservation.lundi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.lundi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.mardi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mardi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.mercredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mercredi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.jeudi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.jeudi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.vendredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.vendredi > 0 %></td>

          <td class="text-center"><%= fa_icon 'check' if reservation.matin %></i></td>
          <td class="text-center"><%= fa_icon 'check' if reservation.midi  %></i></td>
          <td class="text-center"><%= fa_icon 'check' if reservation.soir  %></i></td>

          <td class="text-center"><%= fa_icon 'umbrella-beach' if reservation.hors_période_scolaire %></i></td>
        </tr>
      <% end %>
    </table>

    <% if policy(@enfant).edit? %>
      <%= link_to edit_enfant_path(@enfant), class: "btn" do %>
        <%= fa_icon 'edit', text: ' Editer les réservations' %> 
      <% end %>
    <% end %>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h4><%= fa_icon 'calendar-times' %> Absences</h4>
    <br>

    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Début</th>
          <th>Fin</th>
          <th>Matin</th>
          <th>Midi</th>
          <th>Soir</th>
        </tr>
      </thead>

      <% @enfant.absences.each do |absence| %>
        <tr>
          <td><%= l absence.début %></td>
          <td><%= l absence.fin %></td>
          <td class="text-center"><%= fa_icon 'check' if absence.matin %></i></td>
          <td class="text-center"><%= fa_icon 'check' if absence.midi  %></i></td>
          <td class="text-center"><%= fa_icon 'check' if absence.soir  %></i></td>
        </tr>
      <% end %>
    </table>

    <% if policy(Absence).edit? %>
      <%= link_to new_absence_path(enfant_id: @enfant), class: 'btn', data: {toggle: "modal", target: "#myModal" } do %>
        <%= fa_icon 'plus-circle' %> Ajouter une absence
      <% end %>
    <% end %>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nouvelle Absence</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'absences/modal_form', absence: Absence.new(enfant_id: @enfant.id) %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4><%= fa_icon 'utensils' %> Prestations à facturer</h4>
    <br>

    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Qté</th>
        </tr>
      </thead>

      <% @enfant.prestations.à_facturer.order(:date).each do |prestation| %>
        <tr>
          <td><%= l prestation.date %></td>
          <td><%= prestation.prestation_type.nom %></td>
          <td><%= prestation.qté %></td>
        </tr>
      <% end %>
    </table>

    <% if policy(Prestation).edit? %>
      <%= link_to new_prestation_path(enfant_id: @enfant), class: 'btn', data: {toggle: "modal", target: "#myModalPrestation" } do %>
        <%= fa_icon 'plus-circle' %> Ajouter une prestation
      <% end %>
    <% end %>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModalPrestation">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nouvelle Prestation</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'prestations/modal_form', prestation: Prestation.new(enfant_id: @enfant.id) %>
      </div>
    </div>
  </div>
</div>
