<div class="card">
  <div class="card-header">
    <h2>
      <%= @enfant.prénom %>
      <%= @enfant.nom %>
    </h2>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <p>
          <strong>Compte:</strong>
          <%= link_to @enfant.compte.nom, @enfant.compte %>
        </p>

        <p>
          <strong>Classe:</strong>
          <%= @enfant.classroom.nom %>
        </p>
      </div>

      <div class="col">
        <p>
          <strong>Date naissance:</strong>
          <%= l @enfant.date_naissance %>
        </p>
      </div>

      <div class="col">
        <p>
          <strong>Menu 'Allergie' ?:</strong>
          <%= "OUI" if @enfant.menu_all %>
        </p>

        <p>
          <strong>Menu 'Sans porc' ?:</strong>
          <%= "OUI" if @enfant.menu_sp %>
        </p>
      </div>
    </div>

    <% if policy(@enfant).edit? %>
      <%= link_to edit_enfant_path(@enfant), class: "btn" do %>
        <i class="far fa-edit"></i> Editer 
      <% end %>
    <% end %>
  </div>

</div>

<div class="card">
  <div class="card-body">
    <h4><%= fa_icon 'calendar-alt' %> Réservations actives</h4>

    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th></th>
          <th>Début</th>
          <th>Fin</th>
          <th>Etat</th>
          <th>Lun</th>
          <th>Mar</th>
          <th>Mer</th>
          <th>Jeu</th>
          <th>Ven</th>
          <th>Matin</th>
          <th>Midi</th>
          <th>Soir</th>
          <th>H.P.S ?</th>
        </tr>
      </thead>

      <% @enfant.reservations.actives.each do |reservation| %>
        <tr>
          <td><%= reservation.prestation_type.nom %>
          <td><%= l reservation.début %></td>
          <td><%= l reservation.fin %></td>

          <td><span class="badge <%= reservation.style %>"><%= reservation.workflow_state.humanize %></span></td>

          <td class="text-center"><%= number_with_precision(reservation.lundi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.lundi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.mardi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mardi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.mercredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mercredi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.jeudi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.jeudi > 0 %></td>
          <td class="text-center"><%= number_with_precision(reservation.vendredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.vendredi > 0 %></td>

          <td><i class="<%= reservation.matin ? "far fa-check-circle" : "" %>"></i></td>
          <td><i class="<%= reservation.midi ? "far fa-check-circle" : "" %>"></i></td>
          <td><i class="<%= reservation.soir ? "far fa-check-circle" : "" %>"></i></td>
          <td><i class="<%= reservation.hors_période_scolaire ? "fas fa-umbrella-beach" : "" %>"></i></td>
        </tr>
      <% end %>
    </table>

    <% if policy(@enfant).edit? %>
      <%= link_to edit_enfant_path(@enfant), class: "btn" do %>
        <i class="far fa-edit"></i> Editer les réservations
      <% end %>
    <% end %>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h4><%= fa_icon 'calendar-times' %> Absences</h4>

    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Début</th>
          <th>Fin</th>
          <th>Matin</th>
          <th>Midi</th>
          <th>Soir</th>
        </tr>
      </thead>

      <% @enfant.absences.each do |absence| %>
        <tr>
          <td><%= l absence.début %></td>
          <td><%= l absence.fin %></td>
          <td><i class="<%= absence.matin ? "far fa-check-circle" : "" %>"></i></td>
          <td><i class="<%= absence.midi ? "far fa-check-circle" : "" %>"></i></td>
          <td><i class="<%= absence.soir ? "far fa-check-circle" : "" %>"></i></td>
        </tr>
      <% end %>
    </table>

    <% if policy(Absence).edit? %>
      <%= link_to new_absence_path(enfant_id: @enfant), class: 'btn', data: {toggle: "modal", target: "#myModal" } do %>
        <%= fa_icon 'plus-circle' %> Ajouter une absence
      <% end %>
    <% end %>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nouvelle Absence</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'absences/modal_form', absence: Absence.new(enfant_id: @enfant.id) %>
      </div>
    </div>
  </div>
</div>
