<%= bootstrap_form_with(model: facture_message, local: true) do |form| %>
  <% if facture_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facture_message.errors.count, "erreur") %> empêche(nt) la sauvegarde du message de facture :</h2>

      <ul>
        <% facture_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :organisation_id %>
    <%= form.text_field :contenu %>
    <%= form.check_box :actif %>

  <div class="actions my-4">
    <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>
  </div>
<% end %>
