<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <p>
      <strong>Contenu:</strong>
      <%= @facture_message.contenu %>
    </p>

    <p>
      <strong>Actif:</strong>
      <%= @facture_message.actif %>
    </p>
  </div>
</div>

<%= link_to 'Editer', edit_facture_message_path(@facture_message) %> |
<%= link_to 'Retour', facture_messages_path %>
