<div data-controller="action-forfaitaire">
  <%= bootstrap_form_with(model: prestation_type, local: true) do |form| %>

    <%= form.hidden_field :organisation_id %>
    <%= form.text_field :nom, required: true %>
    <%= form.check_box :forfaitaire, 'data-action-forfaitaire-target': 'source', 'data-action': 'action-forfaitaire#toggle' %>
    <div data-action-forfaitaire-target='panel'>
      <%= form.text_field :debut, label: "Heure de début de la période (07:30)" %>
      <%= form.text_field :fin, label: "Heure de fin de la période (09:00)" %>
      <%= form.number_field :duree_tranche, label: "Durée de la tranche de facturation (en minutes) : ", min: 0 %>
      <%= form.check_box :pointage_arrivee, label: "Pointage = heure d'arrivée (sinon, heure de départ)" %>
    </div>

    <%= form.submit "Enregistrer", class: "btn btn-outline-success mt-4" %>

  <% end %>
</div>