<div class="min-vh-100 row flex-lg-row align-items-center justify-content-center">
  <div class="col-lg-7">
    <h1 class="display-3 lh-1 mb-3">PrestoFacto</h1>
    <h2 class="display-7 mb-3">Facturation de vos services journaliers<h2>
    <h3 class="display-8 fw-lighter">Aide les petites organisations dans la gestion et la facturation de leurs prestations (repas, garderie, activités périscolaires, nuitée d'hébergement, colonie de vacances, etc...)</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
      <%= link_to "En savoir plus", "#a_propos" , class: 'btn btn-primary btn-lg px-4 me-md-2' %>
      <%= link_to guide_path, class: 'btn btn-outline-secondary btn-lg px-4 me-md-2' do %>
        <i class="fas fa-book-open"></i>
        Guide d'utilisation 
      <% end %>
      <%= link_to new_user_registration_path, class: 'btn btn-outline-secondary btn-lg px-4' do %>
        <i class="fas fa-user-plus"></i>
        S'inscrire
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <%= image_tag "undraw_Mobile_payments_re_7udl.png", class: 'd-block mx-lg-auto img-fluid opacity-50 shadow-sm rounded-circle', alt: "Logo de #{ @site_name }", width: 700, height: 500, loading: 'lazy' %>
  </div>
</div>

<div class="my-4">
  <div  id="a_propos" class="row px-4 py-2 bg-light">
    <div class="col-md">
      <%= image_tag 'hands.png', class: 'img-fluid' %>
    </div>
    <div class="col-md">
      <h3 class="lh-1 mb-3 text-secondary fw-bold">Pour qui ?</h3>
      <p class="lead mb-4">
        PrestoFacto est destiné aux petites collectivités, associations, mairies, écoles, centre de loisirs, etc.
        <br>
        Cette solution vous aidera dans l’organisation de votre association et vous fera gagner un temps précieux en simplifiant la gestion administrative et la facturation de vos cantines et services périscolaires.</p>
    </div>
  </div>

  <div class="row px-4 py-2">
    <div class="col-md">
      <h3 class="lh-1 mb-3 text-secondary fw-bold">Un usage simplifié</h3>
      <p class="lead mb-4">
        Prise en main immédiate.
        <br>Une comptabilité simple par famille. 
        Basée sur le principe de la réservation des prestations. 
        Une facture par mois des prestations consommées, avec solde. 
        Balance famille détaillée.
      </p>
      <p>
        <%= link_to "Voir le guide d'utilisation", guide_path %>
      </p>
    </div>
    <div class="col-md">
      <%= image_tag 'stones.png', class: 'img-fluid' %>
    </div>
  </div>

  <div class="row px-4 py-2 bg-light">
    <div class="col-md">
      <%= image_tag 'cloud.webp', class: 'img-fluid' %>
    </div>
    <div class="col-md">
      <h3 class="lh-1 mb-3 text-secondary fw-bold">Une informatique 'dans le nuage'</h3>
      <p class="lead mb-4">
          Une simple page internet, pas de logiciel à installer. 
          Mise à jour automatique.
          Nombre d'utilisateurs illimité. 
          Droits d'accès à la lecture seule pour les invités. 
          Pas de serveur à installer et à administrer. 
          Pas de sauvegarde à gérer.
          Nous nous chargeons d’héberger et de sécuriser vos données.
      </p>
    </div>
  </div>
  <div class="row px-4 py-2">
    <div class="col-md">
      <h3 class="lh-1 mb-3 text-secondary fw-bold">Développé en communauté</h3>
      <p class="lead mb-4">
        Ne dépend pas d'une société. Code source librement disponible.
        Les sources de l'application sont disponibles ici : 
        <a href="https://github.com/philippe-nougaillon/PrestoFacto" rel="noopener noreferrer" target="_blank">https://github.com/philippe-nougaillon/PrestoFacto</a>
        <br><br>
        Vos remarques et propositions sont les bienvenues et nous aident à améliorer l'application.
      </p>
    </div>
    <div class="col-md">
      <%= image_tag 'blue_arrows.png', class: 'img-fluid' %>
    </div>
  </div>
  <div class="px-4 py-5 bg-light">
    <h3 class="lh-1 mb-3 text-secondary fw-bold text-center mb-2">Une solution éprouvée sur 2 générations</h3>
    <p class="lead mb-4">
        Après plus de <strong>10 ans</strong> de bons et loyaux services, openCantine a fait sa mue, change de nom et se professionnalise.
        Ce projet était au départ conçu pour donner un petit coup de main à une mairie qui gérait péniblement sa cantine sur Excel.
        Mais le passage de l'application en logiciel libre, disponible gratuitement pour tous, a permis à une cinquantaine de mairies ou associations de gérer <strong>~500.000 repas</strong> via cette plateforme, dont j'ai assuré bénévolement la maintenance et les coûts d'hébergement.
        <br>
        Mais les structures plus importantes ne pouvaient s'en contenter. C'est pourquoi en 2020 j'ai complètement réécrit en 2020 le logiciel. 
        PrestoFacto est plus souple, moderne et très adaptable. Il conviendra à des organisations de plus grande taille, multi-structures, à la recherche d'un outil simple et robuste.
    </p>
  </div>
</div>

<div>
  <h2 class="display-3 text-center mb-4">Comparer les offres</h2>

  <div class="table-responsive mb-5">
    <table class="table table-striped table-hover text-center">
      <thead>
        <tr>
          <th style="width: 50%;"></th>
          <th style="width: 10%;">Libre</th>
          <th style="width: 20%;">Standard</th>
          <th style="width: 20%;">Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" class="text-start">Utilisation libre (limitée à 1000 factures)</td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
        </tr>
        <tr>
          <td scope="row" class="text-start">
            Accès par un sous-domaine personnalisé
            <br> Ex: https://mon-organisation.prestofacto.fr
          </td>
          <td></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
        </tr>
        <tr>
          <td scope="row" class="text-start">
            Accès par votre nom de domaine
            <br>
            ex: https://prestofacto.votre-domaine.fr
          </td>
          <td></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
        </tr>
        <tr>
          <td scope="row" class="text-start">Serveur virtuel dédié</td>
          <td></td>
          <td></td>
          <td><%= fa_icon 'check-circle', class: 'text-primary' %></td>
        </tr>
        <tr>
          <td scope="row" class="text-start">Sauvegarde automatique des données</td>
          <td><p>1 / j</p></td>
          <td><p>1 / j</p></td>
          <td><p>En continu (24 / 7)</p></td>
        </tr>
        <tr>
          <td scope="row" class="text-start">Support</td>
          <td><p>email</p></td>
          <td><p>email J+1</p></td>
          <td><p>email / téléphonique H+2</p></td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

<div class="px-4">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-3">Tarifs</h2>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-5 text-start">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-success">
        <div class="card-header py-3 bg-success border-success">
          <h4 class="my-0 fw-normal text-white text-center">Libre</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-center">Gratuit</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Utilisation libre (limitée à 1000 factures)</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Sauvegarde automatique journalière</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Support par email</li>
            <li><%= fa_icon 'times-circle', class: 'text-danger me-2' %>Pas de sous-domaine personnalisé</li>
            <li><%= fa_icon 'times-circle', class: 'text-danger me-2' %>Pas de serveur virtuel dédié</li>
          </ul>
          <%= link_to "S'inscrire", new_user_registration_path, class: 'w-100 btn btn-lg btn-outline-success' %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 bg-primary">
          <h4 class="my-0 fw-normal text-white text-center">Standard</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-center">49 €<small class="text-muted fw-light" style="font-size: 1rem"> / mois</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Utilisation libre et illimitée</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Sauvegarde automatique journalière</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Support par email J+1</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Accès via sous-domaine perso.</li>
            <li><%= fa_icon 'times-circle', class: 'text-danger me-2' %>Aucun serveur virtuel dédié</li>
          </ul>
          <%= link_to "Sur demande", new_message_path(offre: 'Offre standard'), class: 'w-100 btn btn-lg btn-outline-primary' %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-warning">
        <div class="card-header py-3 bg-warning">
          <h4 class="my-0 fw-normal text-center">Premium</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title text-center">99 €<small class="text-muted fw-light"> <small style="font-size: 1rem"> / mois</small></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Utilisation libre et illimitée</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Sauvegarde continue (24 / 7)</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Support par email / téléphonique H+2</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Accès par votre nom de domaine</li>
            <li><%= fa_icon 'check-circle', class: 'text-primary me-2' %>Serveur virtuel dédié</li>
          </ul>
          <%= link_to "Sur demande", new_message_path(offre: 'Offre premium'), class: 'w-100 btn btn-lg btn-outline-warning' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial:'partials/footer' %>