<div class="main-baneer container col-xxl-11 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
    <%= image_tag("abacus-beads-mathematics-numeral.jpg", class: 'd-block mx-lg-auto img-fluid rounded', alt: "Logo de #{ @site_name }", width: 700, height: 500, loading: 'lazy') %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-2 fw-bold lh-1 mb-3">PrestoFacto</h1>
      <h2 class="display-6">Application de facturation de services journaliers<h2>
      <p class="display-7">Aide les petites organisations dans la gestion et la facturation de leurs prestations journalières</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to 'En savoir plus', guide_a_propos_path, class: 'btn btn-primary btn-lg px-4 me-md-2' %>
        <%= link_to "Voir nos offres", "#offres" , class: 'btn btn-outline-secondary btn-lg px-4' %>
      </div>
    </div>
  </div>
</div>

<div class="my-5 text-center">
  <div class="px-4 py-5 bg-light">
    <div class="col-lg-6 mx-auto">
      <h3 class="fw-bold lh-1 mb-3">Pour qui ?</h3>
      <p class="lead mb-4">
        PrestoFacto est destinée aux petites collectivités, associations, mairies, écoles, centre de loisirs... 
        Cette solution vous aidera dans l’organisation de votre association et vous fera gagner un temps précieux en simplifiant la gestion administrative et la facturation de vos cantines et services péri-scolaires.</p>
    </div>
  </div>

  <div class="px-4 py-5 bg-primary">
    <div class="col-lg-6 mx-auto">
      <h3 class="fw-bold lh-1 mb-3 text-white">Un usage simplifié</h3>
      <p class="lead mb-4 text-white">Prise en main immédiate. Une comptabilité simple par famille. Une facture par mois avec solde. Balance famille. Ne dépend pas d'une société. Code source librement disponible.</p>
    </div>
  </div>

  <div class="px-4 py-5 bg-light">
    <div class="col-lg-6 mx-auto">
      <h3 class="fw-bold lh-1 mb-3">Une informatique 'dans le nuage'</h3>
      <p class="lead mb-4">
          Une simple page internet, pas de logiciel à installer. 
          Mise à jour automatique.
          Nombre d'utilisateurs illimité. 
          Droits d'accès lecture seule pour les invités. 
          Pas de serveur à installer et à administer. 
          Pas de sauvegardes à gérer.
      </p>
    </div>
  </div>
  <div class="px-4 py-5 bg-primary">
    <div class="col-lg-6 mx-auto">
      <h3 class="fw-bold lh-1 mb-3 text-white">Portail Parents</h3>
      <p class="lead mb-4 text-white">
        Le portail Parents permet à un parent de consulter son relevé de compte, ses réservations, et ses factures.
      </p>
    </div>
  </div>
  <div class="px-4 py-5 mb-4 bg-light">
    <div class="col-lg-6 mx-auto">
      <%= link_to 'En savoir plus', guide_a_propos_path, class: 'btn btn-primary btn-lg px-4 me-md-2' %>
      <%= link_to "Guide d'utilisation", guide_utilisation_path, class: 'btn btn-outline-secondary btn-lg px-4 me-md-2' %>
      <%= link_to 'Tester', admin_mode_demonstration_path, class: 'btn btn-outline-secondary btn-lg px-4 me-md-2' %>
    </div>
  </div>
</div>

<div id="offres" style="height: 66px;"></div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Tarifs</h1>
  <p class="fs-5 text-muted">Toutes les offres disponibles.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-5 text-start">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center">Démo</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center">Gratuit</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Utilisation libre et illimitée</li>
          <li><%= fa_icon 'times-circle', class: 'text-danger me-4' %>Aucune sauvegarde des données</li>
          <li><%= fa_icon 'times-circle', class: 'text-danger me-4' %>Aucun support</li>
          <li><%= fa_icon 'times-circle', class: 'text-danger me-4' %>Pas de sous-domaine personnalisé</li>
          <li><%= fa_icon 'times-circle', class: 'text-danger me-4' %>Aucun serveur virtuel dédié</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Inscription gratuite</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center">Standard</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center">49 €<small class="text-muted fw-light"> TTC/mois</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Utilisation libre et illimitée</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Sauvegarde automatique journalière</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Support par email</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Accès par sous-domaine personnalisé</li>
          <li><%= fa_icon 'times-circle', class: 'text-danger me-4' %>Aucun serveur virtuel dédié</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Nous contacter</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal text-center">Premium</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center">99 €<small class="text-muted fw-light"> <small>TTC/mois</small></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Utilisation libre et illimitée</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Sauvegarde automatique 1/h</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Support par email / téléphonique</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Accès par votre nom de domaine</li>
          <li><%= fa_icon 'check-circle', class: 'text-success me-4' %>Serveur virtuel dédié</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Nous contacter</button>
      </div>
    </div>
  </div>
</div>

<h2 class="display-6 text-center fw-normal mb-4">Comparer les offres</h2>

<div class="table-responsive mb-5">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 34%;"></th>
        <th style="width: 22%;">Démo</th>
        <th style="width: 22%;">Standard</th>
        <th style="width: 22%;">Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-start">Utilisation libre et illimitée</th>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">
          Accès par un sous-domaine personnalisé
          <br> Ex: https://mon-organisation.prestofacto.fr
        </th>
        <td></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">
          Accès par votre nom de domaine
          <br>
          ex: https://prestofacto.votre-domaine.fr
        </th>
        <td></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Serveur virtuel dédié</th>
        <td></td>
        <td></td>
        <td><%= fa_icon 'check-circle', class: 'text-success' %></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Sauvegarde automatique des données</th>
        <td></td>
        <td><p>1/j</p></td>
        <td><p>1/h</p></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Support</th>
        <td></td>
        <td><p>e-mail</p></td>
        <td><p>e-mail/téléphonique</p></td>
      </tr>

    </tbody>
  </table>
</div>

<%= render 'partials/footer' %>