<%= bootstrap_form_with(model: reservation, local: true) do |form| %>

  <p>
    <h2>
      <%= @reservation.try(:enfant).try(:nom_et_prénom) %>
    </h2>
  </p>

  <%= form.hidden_field :enfant_id %>
  <%= form.select :prestation_type_id, options_from_collection_for_select(@prestation_types, 'id', 'nom', reservation.prestation_type_id), { label: "Prestation type:", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
  <%= form.text_field :début, type: 'date' %>
  <%= form.text_field :fin, type: 'date' %>
  
  <div class="row">
    <div class="col"><%= form.text_field :lundi %></div>
    <div class="col"><%= form.text_field :mardi %></div>
    <div class="col"><%= form.text_field :mercredi %></div>
    <div class="col"><%= form.text_field :jeudi %></div>
    <div class="col"><%= form.text_field :vendredi %></div>
  </div>

  <%= form.check_box :matin, custom: :switch %>
  <%= form.check_box :midi, custom: :switch %>
  <%= form.check_box :soir, custom: :switch %>
  <br />
  <%= form.select :workflow_state, Reservation.workflow_spec.states, label: 'Etat' %>
  <%= form.check_box :active, custom: :switch %>
  <br />

  <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>

<% end %>
