<tr>
    <% if current_user.admin? %>
        <td style="text-align: center">
            <span data-action="click->action#click">
                <%= check_box_tag "reservations_id[#{reservation.id}]", 'yes', false,  data: {"action-target":"source"} %>
            </span>
        </td>
    <% end %>
    <td><%= reservation.enfant.classroom.structure.nom %></td>
    <td><%= reservation.enfant.classroom.nom %></td>
    <td><%= link_to reservation.enfant.nom_et_prénom, reservation.enfant %></td>

    <td class="text-center">
        <% if reservation.enfant.menu_all %>
            <%= fa_icon 'exclamation' %>
            <%= reservation.enfant.allergenes %>
            <% @total_alg += 1 %>
        <% end %>
    </td>
    <td class="text-center">
        <% if reservation.enfant.menu_sp %>
            <%= fa_icon 'exclamation' %>
            <% @total_sp += 1 %>
        <% end %>
    </td>

    <% if current_user.admin? %>
        <td><%= truncate(reservation.enfant.mémo, length: 10) %></td>
    <% end %>

    <td><%= reservation.prestation_type.nom %></td>

    <td><%= l reservation.début %></td>
    <td><%= l reservation.fin %></td>

    <td><span class="badge <%= reservation.style %>"><%= reservation.try(:workflow_state).try(:humanize) %></span></td>

    <td class="text-center"><%= number_with_precision(reservation.lundi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.lundi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.mardi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mardi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.mercredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mercredi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.jeudi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.jeudi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.vendredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.vendredi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.samedi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.samedi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.dimanche, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.dimanche > 0 %></td>
    
    <td class="text-center"><%= fa_icon 'check' if reservation.matin %></td>
    <td class="text-center"><%= fa_icon 'check' if reservation.midi %></td>
    <td class="text-center"><%= fa_icon 'check' if reservation.soir %></td>
    <td class="text-center"><%= fa_icon 'umbrella-beach' if reservation.hors_période_scolaire %></td>
</tr>
