<tr>
    <td><%= reservation.enfant.compte.structure.nom %></td>
    <td><%= reservation.enfant.classroom.nom %></td>
    <td><%= link_to reservation.enfant.nom_et_prénom, reservation.enfant, class: "text-info" %></td>
    <td class="text-center"><i class="<%= reservation.enfant.menu_sp ? "far fa-check-circle" : "" %>"></i></td>
    <td class="text-center"><i class="<%= reservation.enfant.menu_all ? "far fa-check-circle" : "" %>"></i></td>
    <td><%= reservation.prestation_type.nom %></td>
    <td class="text-center"><%= number_with_precision(reservation.lundi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.lundi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.mardi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mardi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.mercredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.mercredi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.jeudi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.jeudi > 0 %></td>
    <td class="text-center"><%= number_with_precision(reservation.vendredi, locale: :fr, precision: 2, significant: true, strip_insignificant_zeros: true) if reservation.vendredi > 0 %></td>
    <td class="text-center"><i class="<%= reservation.matin ? "far fa-check-circle" : "" %>"></i></td>
    <td class="text-center"><i class="<%= reservation.midi ? "far fa-check-circle" : "" %>"></i></td>
    <td class="text-center"><i class="<%= reservation.soir ? "far fa-check-circle" : "" %>"></i></td>
    <td class="text-center"><i class="<%= reservation.hors_période_scolaire ? "fas fa-umbrella-beach" : "" %>"></i></td>
</tr>
