<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light">
    <%= fa_icon 'calendar-alt', class: 'text-warning' %> 
    Réservations
    <% unless params[:date] == 'full' %>
      du <%= l params[:date].to_date %>
    <% end %>
  </h2>
</div>

<%= bootstrap_form_tag url: reservations_path, method: :get do |f| %>
  <div class="row">
    <div class="col-sm-2"><%= f.date_field :date, value: params[:date], onchange: "this.form.submit()" %></div>
    <div class="col-sm-2"><%= f.text_field :nom, value: params[:nom], onchange: "this.form.submit()", label: 'Nom/Prénom', autofocus: false  %></div>
    <div class="col-sm-2"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom', params[:classroom_id]), { include_blank: true, label: "Classe" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :state, options_for_select(Reservation.workflow_spec.states.keys.to_a, params[:state]), { include_blank: true, label: 'État' }, { onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :prestation_type_id, options_from_collection_for_select(@prestation_types, 'id', 'nom', params[:prestation_type_id]), { include_blank: true, label: "Prestation" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link 'structures.nom', 'Structure' %></th>
        <th><%= sort_link 'classrooms.nom', 'Classe' %></th>
        <th><%= sort_link 'enfants.nom', 'Enfant' %></th>
        <th><%= sort_link 'enfants.menu_all', 'ALG?' %></th>
        <th><%= sort_link 'enfants.menu_sp', 'SP?' %></th>
        <th><%= sort_link 'enfants.mémo', 'Mémo' %></th>
        <th><%= sort_link 'reservations.prestation_type_id', 'Prestation' %></th>
        <th><%= sort_link 'reservations.début', 'Début' %></th>
        <th><%= sort_link 'reservations.fin', 'Fin' %></th>
        <th><%= sort_link 'reservations.workflow_state', 'Etat' %></th>
        <th><%= sort_link 'reservations.lundi', 'Lun' %></th>
        <th><%= sort_link 'reservations.mardi', 'Mar' %></th>
        <th><%= sort_link 'reservations.mercredi', 'Mer' %></th>
        <th><%= sort_link 'reservations.jeudi', 'Jeu' %></th>
        <th><%= sort_link 'reservations.vendredi', 'Ven' %></th>
        <th><%= sort_link 'reservations.matin', 'Matin' %></th>
        <th><%= sort_link 'reservations.midi', 'Midi' %></th>
        <th><%= sort_link 'reservations.soir', 'Soir' %></th>
        <th><%= sort_link 'reservations.hors_période_scolaire', 'HScol?' %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @reservations.includes(:enfant) %>
    </tbody>

    <tfoot>
      <tr>
        <th colspan=3 class="text-end">
          Total :
        </th>
        <th class="text-center">
          <%= @total_alg %>
        </th>
        <th class="text-center">
          <%= @total_sp %>
        </th>
        <th colspan=14></th>
      </tr>
    </tfoot>

  </table>
</div>

<%= page_entries_info @reservations, entry_name: 'réservation' %>
<%= paginate @reservations, theme: 'twitter-bootstrap-4' %>

<% unless params[:date] == 'full' %>
  | <%= link_to "Voir toutes les réservations", reservations_path(date: 'full') %>
<% end %>