<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'calendar-alt' %> Réservations</h2>
</div>

<%= bootstrap_form_tag url: reservations_path, method: :get do |f| %>
  <div class="row">
    <div class="col-sm-3"><%= f.select :structure_id, options_from_collection_for_select(@structures, 'id', 'nom', params[:structure_id]), { include_blank: true, label: "Structure" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :classroom_id, options_from_collection_for_select(@classrooms, 'id', 'nom', params[:classroom_id]), { include_blank: true, label: "Classe" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.select :prestation_type_id, options_from_collection_for_select(@prestation_types, 'id', 'nom', params[:prestation_type_id]), { include_blank: true, label: "Prestation" }, { class: "selectpicker", onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.date_field :date, value: params[:date], onchange: "this.form.submit()" %></div>
    <div class="col"><%= f.text_field :nom, value: params[:nom], onchange: "this.form.submit()", label: 'Nom/Prénom' %></div>
  </div>
<% end %>

<table class="table table-bordered table-striped table-hover table-sm">
  <thead>
    <tr>
      <th><%= sort_link 'structures.nom', 'Structure' %></th>
      <th><%= sort_link 'classrooms.nom', 'Classe' %></th>
      <th><%= sort_link 'enfants.nom', 'Enfant' %></th>
      <th><%= sort_link 'enfants.menu_all', 'ALG?' %></th>
      <th><%= sort_link 'enfants.menu_sp', 'SP?' %></th>
      <th><%= sort_link 'prestation_types.nom', 'Prestation' %></th>
      <th><%= sort_link 'reservations.début', 'Début' %></th>
      <th><%= sort_link 'reservations.fin', 'Fin' %></th>
      <th><%= sort_link 'reservations.workflow_state', 'Etat' %></th>
      <th><%= sort_link 'reservations.lundi', 'Lun' %></th>
      <th><%= sort_link 'reservations.mardi', 'Mar' %></th>
      <th><%= sort_link 'reservations.mercredi', 'Mer' %></th>
      <th><%= sort_link 'reservations.jeudi', 'Jeu' %></th>
      <th><%= sort_link 'reservations.vendredi', 'Ven' %></th>
      <th><%= sort_link 'reservations.matin', 'Matin' %></th>
      <th><%= sort_link 'reservations.midi', 'Midi' %></th>
      <th><%= sort_link 'reservations.soir', 'Soir' %></th>
      <th><%= sort_link 'reservations.hors_période_scolaire', 'HScol?' %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @reservations.includes(:enfant) %>
  </tbody>

  <tfoot><tr><% 18.times do %><th></th><% end %></tr></tfoot>

</table>

<div class="text-secondary">
  <%= page_entries_info @reservations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<%= will_paginate @reservations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<br>
