<tr>
    <td style="text-align: center">
        <span data-action="click->action#click">
            <%= check_box_tag "factures_id[#{facture.id}]", 'yes', false,  data: {"action-target":"source"} %>
        </span>
    </td>
    <td><%= link_to facture.réf, facture, style: 'white-space: nowrap;' %></td>
    <td><%= l facture.date.to_date %></td>
    <td><%= link_to facture.compte.nom, facture.compte %></td>
    <td><%= l facture.envoyée_le.to_date if facture.envoyée_le %></td>
    <td class="text-end">
        <%= number_to_currency(facture.montant, unit: '€', precision: 2, format: '%n %u') %>
        <% @total_page += facture.montant %>
    </td>
    <td><%= facture.mémo %></td>
    <td><span class="badge <%= facture.style %>"><%= facture.try(:workflow_state).try(:humanize) %></span></td>
    <td>
        <% if policy(Paiement).new? %>
            <% unless current_user.organisation.paiements.where(réf: facture.réf).any? %>
                <%= link_to new_paiement_path(compte_id: facture.compte_id, réf: facture.réf, montant: facture.montant), target: '_blank', title: "Saisir le paiement de cette facture", class: 'btn btn-sm lh-1' do %>
                    <i class="fas fa-money-bill-alt text-success"></i>
                <% end %>
            <% else %>
                <i class="fas fa-money-bill-alt text-secondary"></i>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(facture).show? %>
            <%= link_to facture_url(facture, format: :pdf), target: '_blank', title: "Voir la facture en PDF", class: 'btn btn-sm lh-1' do %>
                <i class="fas fa-file-pdf text-success"></i>
            <% end %>
        <% end %>
    </td>
</tr>
