<tr>
    <td>
        <span data-action="click->action#click">
            <%= check_box_tag "[factures_id][#{facture.id}]", 'yes', false,  data: {"action-target":"source"} %>
        </span>
    </td>
    <td><%= link_to facture.réf, facture %></td>
    <td><%= l facture.date.to_date %></td>
    <td><%= link_to facture.compte.nom, facture.compte %></td>
    <td><%= l facture.envoyée_le.to_date if facture.envoyée_le %></td>
    <td class="text-right"><%= number_to_currency(facture.montant, unit: '€', precision: 2, format: '%n %u') %></td>
    <td class="text-center"><%= fa_icon 'check' if facture.vérifiée %></i></td>
    <td><%= facture.mémo %></td>
    <td><span class="badge <%= facture.style %>"><%= facture.try(:workflow_state).try(:humanize) %></span></td>
    <td>
        <% if policy(facture).show? %>
            <%= link_to facture_url(facture, format: :pdf), target: '_blank', title: "Voir la facture en PDF" do %>
                <i class="far fa-file-pdf"></i>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(facture).destroy? %>
            <%= link_to facture, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt' %>
            <% end %>
        <% end %>
    </td>
</tr>
