<%= bootstrap_form_with(model: facture, layout: :horizontal, local: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>

  <% if facture.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(facture.errors.count, "erreur") %> empêche(nt) l'enregistrement de la facture:</h3>

      <ul>
      <% facture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :compte_id %>

  <div class="row shadow-sm p-2">

    <div class="col">
      <%= form.date_field :date %>
      <%= form.text_field :réf, label: 'Référence', required: true %>
      <%= form.select :workflow_state, Facture.workflow_spec.states, label: 'Etat' %>
    </div>
    
    <div class="col">
      <%= form.date_field :échéance, label: 'Echéance' %>
      <% unless facture.new_record? %>
        <%= form.datetime_field :envoyée_le, include_blank: true, label: 'Envoi_le' %>
      <% end %>
      <%= form.text_area :mémo, rows: 4 %>
    </div>

    <% unless facture.new_record? %>
      <div class="col-3">
        <%= form.number_field :montant, step: :any, label: 'Total', disabled: true %>
      </div>
    <% end %>
  </div>

  <h4 class="title is-3 mt-4 p-2">Prestations</h4>

  <template data-nested-form-target="template">
    <%= form.fields_for :facture_lignes, FactureLigne.new, child_index: 'NEW_RECORD' do |facture_ligne_fields| %>
      <%= render "facture_ligne_form", f: facture_ligne_fields %>
    <% end %>
  </template>

  <%= form.fields_for :facture_lignes do |facture_ligne_fields| %>
    <%= render "facture_ligne_form", f: facture_ligne_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <div class="mb-3">
    <button class="btn btn-outline-primary" type="button" data-action="nested-form#add"><%= fa_icon 'plus-circle' %> Ajouter une ligne</button>
    <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>
  </div>

<% end %>
