<%= bootstrap_form_with(model: facture, layout: :horizontal, local: true) do |form| %>

  <% if facture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facture.errors.count, "erreur") %> empêche l'enregistrement de la facture:</h2>

      <ul>
      <% facture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :compte_id %>

  <div class="row shadow-sm p-2">

    <div class="col-sm-6">
      <%= form.date_field :date %>
      <%= form.date_field :échéance, label: 'Echéance' %>
      <% unless facture.new_record? %>
        <%= form.datetime_field :envoyée_le, include_blank: true, label: 'Envoyée_le' %>
      <% end %>
    </div>
    
    <div class="col-sm-1">
    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          <%= form.text_field :réf, label: 'Réf' %>
        </div>
        <div class="col">
          <%= form.number_field :montant, step: :any, label: 'Total' %>
        </div>
      </div>
      <%= form.text_area :mémo %>
      <%= form.select :workflow_state, Facture.workflow_spec.states, label: 'Etat' %>
    </div>

  </div>

  <%= form.fields_for :facture_lignes do |ligne_form| %>
    <div class="row shadow-sm p-2">
      <div class="row">
        <div class="col"><%= ligne_form.text_field :intitulé, label: "Intitulé" %></div>
      </div>
      <div class="row">
        <div class="col"><%= ligne_form.select :prestation_type_id, options_from_collection_for_select(@prestation_types, 'id', 'nom', ligne_form.object.prestation_type_id), { label: "Type" }, { class: "selectpicker" } %></div>
        <div class="col"><%= ligne_form.number_field :qté, step: :any %></div>
        <div class="col"><%= ligne_form.number_field :prix, step: :any %></div>
        <div class="col"><%= ligne_form.number_field :total, step: :any %></div>
        <% unless ligne_form.object.new_record? %>
          <div class="col"><%= ligne_form.check_box :_destroy, label: "Supprimer ?" %></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>

  <%= form.submit "Enregistrer", class: "btn btn-success" %>

<% end %>
