<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2 class="fw-light">
    <%= fa_icon 'file-invoice', class: 'text-info' %> 
    Factures
  </h2>
</div>

<%= bootstrap_form_tag url: factures_path, method: :get do |f| %>
  <div class="row">
    <div class="col"><%= f.text_field :search, value: params[:search], label:"Nom du compte/Référence facture", onchange: "this.form.submit()", autofocus: false %></div>
    <div class="col-sm-2"><%= f.select :state, options_for_select(Facture.workflow_spec.states.keys.to_a, params[:state]), { include_blank: true, label: 'État' }, { onchange: "this.form.submit()" } %></div>
    <div class="col-sm-2"><%= f.date_field :date_début, value: params[:date_début], onchange: "this.form.submit()" %></div>
    <div class="col-sm-2"><%= f.date_field :date_fin, value: params[:date_fin], onchange: "this.form.submit()" %></div>
  </div>
<%end %>


<%= bootstrap_form_tag url: action_factures_path, method: :post do %>
  <div class="table-responsive" data-controller="action">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link 'factures.réf', 'Réf' %></th>
          <th><%= sort_link 'factures.date', 'Date' %></th>
          <th><%= sort_link 'comptes.nom', 'Compte' %></th>
          <th><%= sort_link 'factures.envoyée_le', 'Envoyée le' %></th>
          <th><%= sort_link 'factures.montant', 'Montant' %></th>
          <th><%= sort_link 'factures.mémo', 'Mémo' %></th>
          <th><%= sort_link 'factures.workflow_state', 'Etat' %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @factures.includes(:compte) %>
      </tbody>

      <tfoot>
        <tr>
          <td colspan=5 class="text-end">
            Total page :
          </td>
          <td class="text-end">
            <%= number_to_currency(@total_page, unit: '€', precision: 2, format: '%n %u') %>
          </td>
          <th colspan=5></th>
        </tr>
        
        <tr>
          <th colspan=5 class="text-end">
            Total :
          </th>
          <th class="text-end">
            <%= number_to_currency(@total_factures, unit: '€', precision: 2, format: '%n %u') %>
          </th>
          <th colspan=5></th>
        </tr>
      </tfoot>
    </table>

    <div class="row">
      <div class="col-sm-3">
        <div class="input-group">
          <%= select_tag :action_name, 
                          options_for_select(["Passer à l'état 'vérifiée'", "Envoyer"]), 
                          include_blank: true, 
                          class: 'form-control form-control-sm',
                          data: { 'action-target': 'selector' } %>
          <div class="input-group-append">
            <%= submit_tag 'ok',  name: 'action', 
                                  class: 'btn btn-sm btn-outline-success',
                                  data: {'action-target': 'button'} %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>

<%= page_entries_info @factures, entry_name: 'facture' %>
<%= paginate @factures, theme: 'twitter-bootstrap-4' %>

<% if policy(Facture).to_xls? && !@factures.size.zero? %>
  <%= link_to url_for(params.permit(:structure_id, :date_début, :date_fin, :search).merge(format: :xls)),
              class: "float-sm-end" do %>
    <%= fa_icon "file-excel", text: " Export XLS" %>
  <% end %>
<% end %>