<p>
  <% if @facture.organisation.logo.attached? %>
    <%= image_tag wicked_blob_path(@facture.organisation.logo), width: 100 %>
  <% end %>

  <%= @facture.organisation.adresse %><br />
  <%= @facture.organisation.cp %> <%= @facture.organisation.ville %><br />
  <%= @facture.organisation.téléphone %><br />
  <%= @facture.organisation.email %><br />
</p>

<div class="client">
  <%= @facture.compte.civilité %>
  <%= @facture.compte.nom %><br />
  <%= @facture.compte.adresse1 %><br />
  <%= @facture.compte.adresse2 %><br />
  <%= @facture.compte.cp %> <%= @facture.compte.ville %><br /><br />
  <%= @facture.compte.ville %>, le <%= l @facture.date.to_date %>
</div>

<p>
  <strong>
    Réf: <%= @facture.réf %>
  </strong>
</p>

<p>
  <strong><%= @facture.mémo %></strong>
</p>

<table class="table_pdf">
  <thead>
    <tr>
      <th>Intitulé</th>
      <th>Prestation</th>
      <th>Qté</th>
      <th>Prix</th>
      <th>Total</th>
    </tr>
  </thead>
  <% @facture.facture_lignes.each do |ligne| %>
    <tr>
        <td><%= ligne.intitulé %></td>
        <td><%= ligne.prestation_type.nom %></td>
        <td class="numbers"><%= ligne.qté %></td>
        <td class="numbers"><%= number_to_currency(ligne.prix, unit: '€', precision: 2, format: "%n %u") %></td>
        <td class="numbers"><%= number_to_currency(ligne.total, unit: '€', precision: 2, format: "%n %u") %></td>
    </tr>
  <% end %>
  <tfoot>
      <tr>
          <td colspan=4></td>
          <td class="numbers">
            <b>TOTAL: <%= number_to_currency(@facture.montant, unit: '€', precision: 2, format: "%n %u") %></b>
          </td>
      </tr>
  </tfoot>
</table>