<div class="card my-3">
  <div class="card-header">
    <h5>  
      <%= fa_icon 'file-invoice', class: 'text-info' %> FACTURE #<%= @facture.réf %> | <%= @facture.compte.nom %>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p>
          <strong>Date:</strong>
          <%= l @facture.date.to_date %>
        </p>

        <p>
          <strong>Echéance le:</strong>
          <%= l @facture.échéance.to_date if @facture.échéance %>
        </p>

        <p>
          <strong>Envoyée le:</strong>
          <%= l @facture.envoyée_le if @facture.envoyée_le %>
        </p>

        <p>
          <strong>Vérifiée:</strong>
          <%= fa_icon 'check' if @facture.vérifiée %></i>
        </p>
      </div>

      <div class="col">
        <p>
          <strong>Etat:</strong>
          <span class="badge <%= @facture.style %>"><%= @facture.try(:workflow_state).try(:humanize) %></span>        </p>
        <p>
          <strong>Mémo:</strong>
          <%= @facture.mémo %>
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex">
    <%= link_to edit_facture_path(@facture), class: "btn btn-outline-primary" do %>
      <%= fa_icon 'edit', text: ' Éditer' %>
    <% end %>
    <% if policy(@facture).show? %>
        <%= link_to facture_url(@facture, format: :pdf), target: '_blank', class: "btn btn-outline-primary" do %>
            <i class="far fa-file-pdf text-success"></i> Afficher le PDF
        <% end %>
    <% end %>
    <% if policy(@facture).destroy? %>
      <%= button_to @facture, method: :delete, 'data-turbo-confirm': 'Êtes-vous bien certain.e ???', class: 'btn btn-outline-danger mx-3' do %>
        <%= fa_icon 'trash-alt' %>
      <% end %>
    <% end %>
    <%= link_to factures_path, class: "mt-2" do %>
      <%= fa_icon 'list' %>
      Retour
    <% end %>
  </div>
</div>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Intitulé</th>
        <th>Prestation</th>
        <th>Qté</th>
        <th>Prix</th>
        <th>Total</th>
      </tr>
    </thead>
    <% @facture.facture_lignes.each do |ligne| %>
      <tr>
        <td><%= ligne.intitulé %></td>
        <td><%= ligne.prestation_type.nom %></td>
        <td class="text-end"><%= ligne.qté %></td>
        <td class="text-end"><%= number_to_currency(ligne.prix, unit: '€', precision: 2, format: "%n %u") %></td>
        <td class="text-end"><%= number_to_currency(ligne.total, unit: '€', precision: 2, format: "%n %u") %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <td colspan=4></td>
        <td class="text-end">
          <b><%= number_to_currency(@facture.montant, unit: '€', precision: 2, format: "%n %u") %></b>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

