<div class="row">

  <div class="col-sm-9">
    <div class="shadow p-1 mb-1 bg-white">
      <div class="container" style="height: 600px; overflow-y: scroll;">
        <h3><br><%= @site_name %></h3>

        <h6 class="text-info">
          <i>Facturation de services journaliers</i>
        </h6>
        <br>

        <pre>
          PrestoFActo est destinée aux petites collectivités, mairies, écoles, etc. 
          Cette solution vous aidera dans l’organisation de votre mairie/association 
          et vous fera gagner un temps précieux en simplifiant la gestion administrative et 
          la facturation de vos cantines, services péri-scolaires et autres prestations. 
        </pre>

        <div class="pb-2 mt-4 mb-2 border-bottom">Nouveautés</div>
        <%= render Blog.all %>
      
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.check_box :remember_me, custom: :switch %>
        </div>
      <% end %>
      <br />

      <div class="actions">
        <%= f.submit "Se connecter", class: "btn btn-primary btn-md" %>
      </div>
    <% end %>
    <br />

    <%= render "devise/shared/links" %>
  </div>

</div>


