<div class="col-sm-6 mx-auto shadow-sm rounded p-5 mt-5">
  <h1 class="fw-light mt-2 mb-5 text-center">Connexion</h1>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <%= f.check_box :remember_me, custom: :switch %>
      </div>
    <% end %>
    <br>

    <div class="actions">
      <%= f.submit "Se connecter", class: "btn btn-outline-success" %>

      <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-primary" %> 

    </div>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>
</div>