<div class="col-md-10 col-lg-7 shadow-sm rounded p-1 p-md-5 mx-auto bg-body mt-4">
  <h1 class="mt-2 mb-4 text-center">Connexion</h1>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <%= f.check_box :remember_me, custom: :switch %>
      </div>
    <% end %>
    <br>

    <div class="row">
      <div class="col">
        <%= f.submit "Se connecter", class: "btn btn-outline-success w-100" %>
      </div>
      <div class="col">
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-primary w-100", 'data-turbo': false %> 
      </div>
    </div>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>
</div>