<div class="row">

  <div class="col-sm-9">
    <div class="shadow p-2 mb-4 bg-white">
      <div class="container" style="height: 600px; overflow-y: scroll;">
        <h3>
          <%= @site_name %>
          <br>
          <small>
            Logiciel de facturation de services journaliers (repas, garderie, périscolaires, etc...)
          </small>
        </h3>

        <div class="pb-2 mt-4 mb-2 border-bottom">Quoi de neuf ?</div>
        <%= render Blog.all %>
      
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.check_box :remember_me, custom: :switch %>
        </div>
      <% end %>
      <br />

      <div class="actions">
        <%= f.submit "Se connecter", class: "btn btn-primary btn-md" %>
      </div>
    <% end %>
    <br />

    <%= render "devise/shared/links" %>
  </div>

</div>


