<div class="col-sm-5 mx-auto shadow p-3 mb-5 bg-body rounded">
  <p class="h1 mt-2 mb-5 text-center"><%= @site_name %></p>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <%= f.check_box :remember_me, custom: :switch %>
      </div>
    <% end %>
    <br>

    <div class="actions">
      <%= f.submit "Se connecter", class: "btn btn-outline-success btn-sm" %>

      <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-primary btn-sm me-2" %> 

    </div>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>
</div>