<p id="notice"><%= notice %></p>

<h2>Prestation Types</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestation_types.each do |prestation_type| %>
      <tr>
        <td><%= prestation_type.organisation %></td>
        <td><%= prestation_type.nom %></td>
        <td><%= link_to 'Show', prestation_type %></td>
        <td><%= link_to 'Edit', edit_prestation_type_path(prestation_type) %></td>
        <td><%= link_to 'Destroy', prestation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestation Type', new_prestation_type_path %>
