<tr>
    <td><%= absence.enfant.compte.structure.nom %></td>
    <td><%= link_to absence.enfant.nom_et_prénom, absence.enfant %></td>
    <td><%= absence.enfant.classroom.nom %></td>
    <td><%= l absence.début %></td>
    <td><%= l absence.fin %></td>
    <td class="text-center"><%= fa_icon 'check' if absence.matin %></i></td>
    <td class="text-center"><%= fa_icon 'check' if absence.midi %></i></td>
    <td class="text-center"><%= fa_icon 'check' if absence.soir %></i></td>
    <td>
        <% if policy(absence).edit? %>
            <%= link_to  edit_absence_path(absence) do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(absence).destroy? %>
            <%= link_to absence, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt' %>
            <% end %>
        <% end %>
    </td>
</tr>
