<%= bootstrap_form_with(url: absences_path, model: absence, method: :post, local: true) do |form| %>

  <%= form.hidden_field :enfant_id %>

  <div class="form-inline">
    <%= form.text_field :début, label: 'Du :', class: "form-control", type: "date"  %>
    <%= form.text_field :fin, label: 'Au :', class: "form-control", type: "date"  %>
  </div>
  <br />

  <div class="custom-control">
    <%= form.check_box :matin, custom: :switch %>
    <%= form.check_box :midi, custom: :switch %>
    <%= form.check_box :soir, custom: :switch %>
  </div>
  <br />

  <%= form.submit "Enregistrer", class: "btn btn-success" %>

<% end %>
