<%= bootstrap_form_with(model: paiement, local: true) do |form| %>

  <%= form.hidden_field :compte_id %>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col"><%= form.date_field :date, required: true %></div>
        <div class="col"><%= form.text_field :réf %></div>
        <div class="col"><%= form.select :mode, Paiement.modes %></div>
      </div>
      <div class="row">
        <div class="col"><%= form.select :banque, Paiement.banques, include_blank: true %></div>
        <div class="col"><%= form.text_field :chèque_num, label: 'Chèque N°' %></div>
      </div>
      <div class="row">
        <div class="col"><%= form.text_field :montant %></div>
        <div class="col"><%= form.date_field :date_remise %></div>
      </div>
      <%= form.text_area :mémo %>
      <%= form.submit "Enregistrer", class: "btn btn-outline-success" %>
    </div>
  </div>

<% end %>
