<tr>
    <td><%= l paiement.date.to_date %></td>
    <td><%= link_to paiement.compte.nom, paiement.compte %></td>
    <td><%= paiement.réf %></td>
    <td><%= paiement.mode %></td>
    <td><%= paiement.banque %></td>
    <td><%= paiement.chèque_num %></td>
    <td class="text-end"><%= number_to_currency(paiement.montant, unit: '€', precision: 2, format: "%n %u") %></td>
    <td><%= l paiement.date_remise if paiement.date_remise %></td>
    <td><%= paiement.mémo %></td>
    <td>
        <% if policy(paiement).edit? %>
            <%= link_to edit_paiement_path(paiement) do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
    </td>
    <td>
        <% if policy(paiement).destroy? %>
            <%= button_to paiement, method: :delete, data: { confirm: 'Etes-vous bien certain.e ???' } do %>
                <%= fa_icon 'trash-alt', class: 'text-danger' %>
            <% end %>
        <% end %>
    </td>
</tr>
