<p id="notice"><%= notice %></p>

<h2>arifs</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarifs.each do |tarif| %>
      <tr>
        <td><%= link_to 'Show', tarif %></td>
        <td><%= link_to 'Edit', edit_tarif_path(tarif) %></td>
        <td><%= link_to 'Destroy', tarif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarif', new_tarif_path %>
