<tr id="<%= dom_id pointage %>">
  <td>
    <%= link_to_if policy(pointage).edit?, pointage.enfant.nom_et_prénom, edit_pointage_path(pointage) %>
  </td>
  <td><%= pointage.prestation_type.nom %></td>
  <td><%= l pointage.date_pointage %></td>
  <td><%= l pointage.heure_pointage if pointage.heure_pointage %></td>
  <td><%= pointage.minutes_consommées %></td>
  <td><%= pointage.tranches_consommées %></td>
  <td>
    <% if policy(pointage).edit? %>
      <%= link_to edit_pointage_path(pointage), class: 'btn btn-link btn-sm' do %>
        <%= fa_icon 'edit' %>
      <% end %>
    <% end %>
  </td>
</tr>
