<tr id="<%= dom_id pointage %>">
  <td style="text-align: center">
    <span data-action="click->action#click">
      <%= check_box_tag "pointages_id[#{pointage.id}]", 'yes', false,  data: {"action-target":"source"} %>
    </span>
  </td>
  <td>
    <%= link_to_if policy(pointage).edit?, pointage.enfant.nom_et_prénom, edit_pointage_path(pointage) %>
  </td>
  <td><%= pointage.prestation_type.nom %></td>
  <td><%= l pointage.date_pointage %></td>
  <td><%= l pointage.heure_pointage if pointage.heure_pointage %></td>
  <td><%= pointage.minutes_consommées %></td>
  <td><%= pointage.tranches_consommées %></td>
  <td>Il y a <%= time_ago_in_words pointage.updated_at %></td>
  <td>
    <% if policy(pointage).edit? %>
      <%= link_to edit_pointage_path(pointage), class: 'btn btn-link btn-sm' do %>
        <%= fa_icon 'edit' %>
      <% end %>
    <% end %>
  </td>
</tr>
