<!DOCTYPE html>
<html>
  <head>
    <title><%= @titre %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  </head>

  <body>
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-tabs flex-column ">
          <a class="navbar-brand" href="#">
            <%= image_tag 'logo.jpg', width: 170 %>
          </a>

          <span class="navbar-text"></span>

          <li class="nav-item">
            <%= link_to root_url, class: "nav-link" do %>
              <i class="fas fa-fw fa-users"></i>
              Comptes
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to enfants_url, class: "nav-link" do %>
            <i class="fas fa-fw fa-child"></i> 
              Enfants
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to reservations_url, class: "nav-link" do %>
              <i class="fas fa-fw fa-calendar-alt"></i> 
              Réservations
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to absences_url, class: "nav-link" do %>
              <i class="fas fa-fw fa-calendar-times"></i>
              Absences
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to prestations_url, class: "nav-link" do %>
              <i class="fas fa-fw fa-utensils"></i>
              Prestations
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to factures_url, class: "nav-link" do %>
              <i class="fas fa-fw fa-file-invoice"></i>
              Factures
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to paiements_url, class: "nav-link" do %>
              <i class="far fa-fw fa-money-bill-alt"></i>
              Paiements
            <% end %>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#"></a>
          </li>

          <span class="navbar-text"></span>

          <% if current_user %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to admin_index_url, class: "nav-link" do %><i class="fas fa-fw fa-users-cog"></i></span> Administration<% end %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", class: "nav-link" do %><i class="fas fa-fw fa-sign-out-alt"></i></span> Déconnexion<% end %> 
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to guide_about_url, class: "nav-link" do %></span>
                A propos
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to guide_utilisation_url, class: "nav-link" do %></span>
                Guide d'utilisation
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-sm-10">
        <div class="container-fluid shadow p-2 mb-4 bg-white" style="height: 800px; overflow-y: scroll;">

          <div class="alert" style="height: 55px;">
            <% if notice.present? %>
              <aside class="alert alert-info alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= notice %>
              </aside>
            <% end %>

            <% if alert.present? %>
              <aside class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <%= alert %>
              </aside>
            <% end %>
          </div>

          <%= yield %>
      </div>
    </div>
  </body>

</html>
