<!DOCTYPE html>
<html>
  <head>
    <title><%= @titre %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  </head>

  <body>
    <div class="row">
      <div class="col-sm-2">
        <nav class="navbar navbar-expand-sm">
          <ul class="nav nav-tabs flex-column ">
            <a class="navbar-brand" href="/">
              <% 3.times do%>
                <%= image_tag 'logo.jpg', width: 70 %>
              <% end %>
            </a>

            <span class="navbar-text"></span>

            <% if current_user %>

              <%= navbar_nav_item('comptes', 'users') %>
              <%= navbar_nav_item('enfants', 'child') %>
              <%= navbar_nav_item('reservations', 'calendar-alt') %>
              <%= navbar_nav_item('absences', 'calendar-times') %>
              <%= navbar_nav_item('prestations', 'utensils') %>
              <%= navbar_nav_item('factures', 'file-invoice') %>
              <%= navbar_nav_item('paiements', 'money-bill-alt') %>
              
              <li class="nav-item">
                <a class="nav-link text-secondary disabled" href="#"></a>
              </li>

              <span class="navbar-text"></span>

              <%= navbar_nav_item('admin', 'users-cog') if current_user.admin? %>

              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", class: "nav-link text-secondary" do %><i class="fas fa-fw fa-sign-out-alt"></i></span> Déconnexion<% end %> 
              </li>

            <% else %>

              <%= navbar_nav_item('/guide', 'info-circle', 'a_propos') %>
              <%= navbar_nav_item('/guide', 'book', 'guide') %>

            <% end %>

          </ul>
        </nav>
      </div>

      <div class="col-sm-10">
        <div class="container-fluid shadow p-2 mb-4 bg-white" style="height: 800px; overflow-y: scroll;">

          <%= nav_breadcrumb %>
          
          <div class="alert" style="height: 35px;">
            <% if notice.present? %>
              <aside class="alert alert-light text-success text-center show">
                <%= notice %>
              </aside>
            <% end %>

            <% if alert.present? %>
              <aside class="alert alert-light text-danger text-center show">
                <%= alert %>
              </aside>
            <% end %>
          </div>

          <div class="container">
            <%= yield %>
          </div>
          
      </div>
    </div>
  </body>

</html>
