<!DOCTYPE html>
<html lang="fr" style="scroll-padding-top: 80px">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render 'partials/favicon' %>
    <%= render 'partials/gtag' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #FAFAFA">
    <% if cookies[:axeptio_cookies].blank? %>
      <%= render 'partials/cookies' %>
    <% end %>
    <%= render 'partials/nav' %>

    <div class="container">
      <%= render 'partials/alert' %>
      <%= yield %>
    </div>
  </body>

</html>
