<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'PrestoFacto', description: 'logiciel gestion cantine scolaire gratuit' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173642532-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173642532-1');
    </script>

    <title><%= @titre %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs flex-column">
          <a class="navbar-brand" href="/">
            <nav class="navbar" style="height: 55px;">
              PrestoFacto
            </nav>
          </a>

          <span class="navbar-text"></span>

          <% if current_user %>

            <% if current_user.visiteur? %>
              <%= navbar_nav_item('moncompte', 'users',  moncompte_index_path) %>
            <% else %>
              <%= navbar_nav_item('comptes', 'users', comptes_path) %>
              <%= navbar_nav_item('enfants', 'child', enfants_path) %>
              <%= navbar_nav_item('réservations', 'calendar-alt', reservations_path) %>
              <%= navbar_nav_item('absences', 'calendar-times', absences_path) %>
              <%= navbar_nav_item('prestations', 'utensils', prestations_path) %>
              <%= navbar_nav_item('factures', 'file-invoice', factures_path) %>
              <%= navbar_nav_item('paiements', 'money-bill-alt', paiements_path) %>
            <% end %>

            <li class="nav-item">
              <a class="nav-link text-secondary disabled" href="#"></a>
            </li>

            <span class="navbar-text"></span>

            <%= navbar_nav_item('admin', 'users-cog', admin_index_path) if current_user.admin? %>

            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", class: "nav-link text-secondary" do %><i class="fas fa-fw fa-sign-out-alt"></i></span> Déconnexion<% end %> 
            </li>
          <% else %>
            <%= navbar_nav_item('Accueil', 'home', new_user_session_path) %>
            <%= navbar_nav_item('a_propos', 'info-circle', guide_a_propos_path) %>
            <%= navbar_nav_item("guide d'utilisation", 'book', guide_utilisation_path) %>
            <%= navbar_nav_item("Se connecter", 'sign-in-alt', new_user_session_path) %>
            <%= navbar_nav_item("S'inscrire", 'user-plus', new_user_registration_path) %>

            <% if false %>
              <li class="nav-item">
                <%= link_to admin_mode_demonstration_path, class: "nav-link" do %>
                  <%= fa_icon "eye", text: " Mode démonstration"%>
                <% end %>
              </li>
            <% end %>

          <% end %>
        </ul>
      </div>

      <div class="col-md-10">

        <%= nav_breadcrumb %>
          
        <div class="alert alert-highlight text-center" style="height: 35px;">
          <% if notice.present? or alert.present? %>
            <aside class="text-<%= notice ? 'success' : 'danger' %>">
              <%= notice ? notice : alert %>
            </aside>
          <% end %>
        </div>

        <div class="container-fluid">

          <%= yield %>
          
        </div>
      </div>
    </div>
  </body>

</html>
